<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.CircleMembersMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.CircleMembers" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="circleid" property="circleid" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="itype" property="itype" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
      <result column="likes" property="likes" jdbcType="INTEGER" />
      <result column="flowers" property="flowers" jdbcType="INTEGER" />
      <result column="diamonds" property="diamonds" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, circleid, userid, itype, createtime, likes,flowers,diamonds
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from circle_members
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from circle_members
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.CircleMembers" >
    insert into circle_members (circleid, userid,
      itype, createtime, updatetime
      )
    values (#{circleid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT},
      #{itype,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.CircleMembers" >
    insert into circle_members
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="circleid != null" >
        circleid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="itype != null" >
        itype,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="circleid != null" >
        #{circleid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="itype != null" >
        #{itype,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.CircleMembers" >
    update circle_members
    <set >
        <if test="circleid != null" >
          circleid = #{circleid,jdbcType=BIGINT},
        </if>
        <if test="userid != null" >
          userid = #{userid,jdbcType=BIGINT},
        </if>
        <if test="itype != null" >
          itype = #{itype,jdbcType=INTEGER},
        </if>
        <if test="createtime != null" >
        c reatetime = #{createtime,jdbcType=TIMESTAMP},
        </if>
        <if test="updatetime != null" >
          updatetime = #{updatetime,jdbcType=TIMESTAMP},
        </if>
        <if test="likes != null">
            likes = #{likes}
        </if>
        <if test="flowers != null">
            flowers = #{flowers}
        </if>
        <if test="diamonds != null">
            diamonds = #{diamonds}
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.CircleMembers" >
    update circle_members
    set circleid = #{circleid,jdbcType=BIGINT},
      userid = #{userid,jdbcType=BIGINT},
      itype = #{itype,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      likes = #{likes,jdbcType=INTEGER},
      flowers = #{flowers,jdbcType=INTEGER},
      diamonds = #{diamonds,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCircleMember" parameterType="map" resultMap="BaseResultMap">
      select
          <include refid="Base_Column_List" />
      from
          circle_members
      where
          itype = 0
      and circleid = #{circleId}
      order by createtime desc
      limit #{startNo},#{pageSize}
  </select>

  <!-- 根据用户id以及兴趣圈id 查询数据 -->
  <select id="findCircleMember" parameterType="map" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List" />
      from circle_members
      <where>
          <if test="itype != null">
              itype = #{itype} AND
          </if>
          circleid = #{circleId}
          and userid = #{userId}
      </where>
  </select>

  <!-- 退出该群 -->
  <update id="updateCircleMembers" parameterType="map">
    update
        circle_members
    set
        itype = #{iType} ,
        updatetime = #{updateTime}
    where circleid = #{circleId}
        and userid = #{userId}
  </update>

  <update id="updateCircleMemberInfo" parameterType="map">
      update
          circle_members
      <set>
          <if test = "likes != null">
             likes = likes + #{likes},
          </if>
          <if test="flowers != null">
              flowers = flowers + #{flowers},
          </if>
          <if test="diamonds != null">
              diamonds = diamonds + #{diamonds},
          </if>
          <if test="updateTime != null">
              updatetime = #{updateTime}
          </if>
      </set>
      where userid = #{userId}
          and circleid = #{circleId}
  </update>

    <!-- 查询兴趣圈中的所有用户id -->
    <select id="findCircleMembersId" parameterType="int" resultType="Long">
        select userid from circle_members where itype = 0 and circleid = #{circleid}
    </select>
</mapper>