<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.ClassroomMembersMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.ClassroomMembers" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="classroomid" property="classroomid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="itype" property="itype" jdbcType="INTEGER" />
    <result column="userstatus" property="userstatus" jdbcType="CHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="hascharge" property="hascharge" jdbcType="CHAR" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="flowers" property="flowers" jdbcType="INTEGER" />
    <result column="diamonds" property="diamonds" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, classroomid, userid, itype, userstatus, hascharge, 
    likes, flowers, diamonds, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classroom_members
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectListByClassroomid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_members
    where classroomid = #{classroomid} 
    and itype = 0 
    order by createtime desc 
    <if test="endNum != 0" >
      limit #{startNum},#{endNum}
    </if>
  </select>
  
  <select id="selectInsertByUserid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_members
    where userid = #{userid} 
    and itype = 0 
    order by createtime desc 
    <if test="endNum != 0" >
      limit #{startNum},#{endNum}
    </if>
  </select>
  
  
  <select id="selectListByClassroomidAndUserid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_members
    where classroomid = #{classroomid} 
    and userid = #{userid} 
    <if test="itype != null" >
    	and itype = #{itype} 
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classroom_members
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.ClassroomMembers" >
    insert into classroom_members (id, classroomid, userid, 
      itype, userstatus, hascharge, likes, flowers, diamonds, createtime, 
      updatetime)
    values (#{id,jdbcType=INTEGER}, #{classroomid,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, 
      #{itype,jdbcType=INTEGER}, #{userstatus,jdbcType=CHAR}, #{hascharge,jdbcType=CHAR}, #{likes}, 
      #{flowers}, #{diamonds}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.ClassroomMembers" >
    insert into classroom_members
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="classroomid != null" >
        classroomid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="itype != null" >
        itype,
      </if>
      <if test="userstatus != null" >
        userstatus,
      </if>
      <if test="hascharge != null" >
        hascharge,
      </if>
      <if test="likes != null" >
        likes,
      </if>
      <if test="flowers != null" >
        flowers,
      </if>
      <if test="diamonds != null" >
        diamonds,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null" >
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="itype != null" >
        #{itype,jdbcType=INTEGER},
      </if>
      <if test="userstatus != null" >
        #{userstatus,jdbcType=CHAR},
      </if>
      <if test="hascharge != null" >
        #{hascharge,jdbcType=CHAR},
      </if>
      <if test="likes != null" >
        #{likes,jdbcType=INTEGER},
      </if>
      <if test="flowers != null" >
        #{flowers,jdbcType=INTEGER},
      </if>
      <if test="diamonds != null" >
        #{diamonds,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.ClassroomMembers" >
    update classroom_members
    <set >
      <if test="classroomid != null" >
        classroomid = #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="itype != null" >
        itype = #{itype,jdbcType=INTEGER},
      </if>
      <if test="userstatus != null" >
        userstatus = #{userstatus,jdbcType=CHAR},
      </if>
      <if test="hascharge != null" >
        hascharge = #{hascharge,jdbcType=CHAR},
      </if>
      <if test="likes != null" >
        likes = #{likes,jdbcType=INTEGER},
      </if>
      <if test="flowers != null" >
        flowers = #{flowers,jdbcType=INTEGER},
      </if>
      <if test="diamonds != null" >
        diamonds = #{diamonds,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.ClassroomMembers" >
    update classroom_members
    set classroomid = #{classroomid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=BIGINT},
      itype = #{itype,jdbcType=INTEGER},
      userstatus = #{userstatus,jdbcType=CHAR},
      hascharge = #{hascharge,jdbcType=CHAR},
      likes = #{likes,jdbcType=INTEGER},
      flowers = #{flowers,jdbcType=INTEGER},
      diamonds = #{diamonds,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateItypeByClassroomidAndUserid" >
    update classroom_members
    set itype = #{itype} 
    where classroomid = #{classroomid} 
    and userid = #{userid} 
  </update>
  
</mapper>