<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.ClassroomCoursesMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.ClassroomCourses" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="coursetitle" property="coursetitle" jdbcType="VARCHAR" />
    <result column="coursesort" property="coursesort" jdbcType="INTEGER" />
    <result column="coursetype" property="coursetype" jdbcType="CHAR" />
    <result column="coursebrief" property="coursebrief" jdbcType="VARCHAR" />
    <result column="pickey" property="pickey" jdbcType="VARCHAR" />
    <result column="coursecontent" property="coursecontent" jdbcType="VARCHAR" />
    <result column="classroomid" property="classroomid" />
    <result column="uploaduserid" property="uploaduserid" jdbcType="BIGINT" />
    <result column="createuserid" property="createuserid" jdbcType="BIGINT" />
    <result column="isdel" property="isdel" jdbcType="CHAR" />
    <result column="isdefault" property="isdefault" jdbcType="CHAR" />
    <result column="fileurl" property="fileurl" jdbcType="VARCHAR" />
    <result column="sourcekey" property="sourcekey" jdbcType="VARCHAR" />
    <result column="duration" property="duration" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="udpatetime" property="udpatetime" jdbcType="TIMESTAMP" />
    <result column="isup" property="isup" />
    <result column="teachingtypes" property="teachingtypes"/>
    <result column="starttime" property="starttime"/>
    <result column="endtime" property="endtime"/>
    <result column="status" property="status"/>
    <result column="daytime" property="daytime"/>
    <result column="liveid" property="liveid"/>
    <result column="chapterid" property="chapterid"/>
    <result column="chaptertitle" property="chaptertitle"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, coursetitle, coursesort, coursetype, coursebrief, pickey, coursecontent, 
    classroomid, uploaduserid, createuserid, isdel, isdefault, fileurl, sourcekey, duration,  
    createtime, udpatetime, isup,teachingtypes,starttime,endtime,status, daytime, 
    liveid, chapterid, chaptertitle 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classroom_courses
    where id = #{id}
  </select>
  
  <select id="select" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_courses
    where classroomid = #{classroomid} 
    and id = #{id} 
  </select>
  
  <select id="selectSortByCid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_courses
    where classroomid = #{classroomid} 
    and coursesort = #{coursesort} 
  </select>
  
  <select id="selectListByClassroomid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_courses 
    where classroomid = #{classroomid} 
    and isdel = 0 
    and pickey != '' 
    <if test="isup != null and isup != ''" >
      	and isup = #{isup}
    </if>
    order by coursesort asc, createtime desc 
    <if test="endNum != 0" >
      limit #{startNum},#{endNum}
    </if>
  </select>
  
  <select id="selectTeachingListByCid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_courses 
    where classroomid = #{classroomid} 
    and isdel = 0 
    and pickey != '' 
    and isup = 1 
    and teachingtypes = 1 
    and (status = 0 or status = 1) 
    order by createtime desc 
    <if test="endNum != 0" >
      limit #{startNum},#{endNum}
    </if>
  </select>
  
  <select id="selectSearchCount" parameterType="com.longbei.appservice.entity.ClassroomCourses" resultType="java.lang.Integer" >
    select count(*) 
    from classroom_courses
    where classroomid = #{classroomCourses.classroomid} 
    and isdel = 0 
    <if test="classroomCourses.coursetitle != null and classroomCourses.coursetitle != ''" >
      	and coursetitle LIKE concat(concat('%',#{classroomCourses.coursetitle}),'%')
    </if>
    <if test="classroomCourses.isup != null and classroomCourses.isup != ''" >
      	and isup = #{classroomCourses.isup}
    </if>
    <if test="classroomCourses.chapterid != null" >
      	and chapterid = #{classroomCourses.chapterid}
    </if>
  </select>
  
  <select id="selectCountByCidAndChapterid" resultType="java.lang.Integer" >
    select count(*) 
    from classroom_courses
    where classroomid = #{classroomid} 
    and isdel = 0 
    and chapterid = #{chapterid}
  </select>
  
  <select id="selectMaxSort" resultType="java.lang.Integer" >
    select max(coursesort)  
    from classroom_courses
    where classroomid = #{classroomid} 
    and isdel = 0 
    and isup = 1 
  </select>
  
  <select id="selectSearchList" parameterType="com.longbei.appservice.entity.ClassroomCourses" resultMap="BaseResultMap" >
    select 
	<include refid="Base_Column_List" /> 
    from classroom_courses
    where classroomid = #{classroomCourses.classroomid} 
    and isdel = 0 
    <if test="classroomCourses.coursetitle != null and classroomCourses.coursetitle != ''" >
      	and coursetitle LIKE concat(concat('%',#{classroomCourses.coursetitle}),'%')
    </if>
    <if test="classroomCourses.isup != null and classroomCourses.isup != ''" >
      	and isup = #{classroomCourses.isup}
    </if>
    <if test="classroomCourses.chapterid != null" >
      	and chapterid = #{classroomCourses.chapterid}
    </if>
    order by isup desc, coursesort asc, createtime asc 
    <if test="endNum != 0" >
      limit #{startNum},#{endNum}
    </if>
  </select>
  
  <select id="selectCroomidOrderByCtime" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_courses 
    where classroomid = #{classroomid} 
    and isdel = 0 
    and pickey != '' 
    <if test="isup != null and isup != ''" >
      	and isup = #{isup}
    </if>
    order by coursesort desc, createtime desc 
    <if test="endNum != 0" >
      limit #{startNum},#{endNum}
    </if>
  </select>
  
  <select id="selectDaytimeCoursesListByCid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_courses 
    where classroomid = #{classroomid} 
    and isdel = 0 
    and pickey != '' 
    and isup = 1 
    and teachingtypes = 1 
    and (status = 0 or status = 1) 
    and (starttime &lt; #{startdate} or endtime &gt; #{enddate})
    <if test="daytime != null and daytime != ''" >
      	and daytime = #{daytime}
    </if>
    order by starttime asc 
    <if test="endNum != 0" >
      limit #{startNum},#{endNum}
    </if>
  </select>
  
  <select id="selectStartCoursesListByCid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_courses 
    where classroomid = #{classroomid} 
    and isdel = 0 
    and pickey != '' 
    and isup = 1 
    and teachingtypes = 1 
    and (status = 0 or status = 1) 
    <if test="daytime != null and daytime != ''" >
      	and daytime = #{daytime}
    </if>
  </select>
  
  <select id="selectTeachingCoursesListByCid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_courses 
    where classroomid = #{classroomid} 
    and isdel = 0 
    and pickey != '' 
    and isup = 1 
	and teachingtypes = 1
	and (status = 0 or status = 1) 
	and (starttime &lt; #{startdate} or endtime &gt; #{enddate})
	ORDER BY starttime ASC  
      limit 1
  </select>
  
  <select id="selectIsdefaultByClassroomid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_courses 
    where classroomid = #{classroomid} 
    and isdefault = 1 
  </select>
  
  <select id="selectCountCourses" resultType="java.lang.Integer">
  	SELECT count(*) from classroom_courses 
  	where classroomid = #{classroomid} 
  	and pickey != '' 
  	and isdel = 0 
  	<if test="isup != null and isup != ''" >
      	and isup = #{isup}
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classroom_courses
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.ClassroomCourses" useGeneratedKeys="true" keyProperty="id" >
    insert into classroom_courses (id, coursetitle, coursesort, 
      coursetype, coursebrief, pickey, 
      coursecontent, classroomid, uploaduserid, 
      createuserid, isdel, isdefault, fileurl, sourcekey, duration, createtime, 
      udpatetime)
    values (#{id,jdbcType=INTEGER}, #{coursetitle,jdbcType=VARCHAR}, #{coursesort,jdbcType=INTEGER}, 
      #{coursetype,jdbcType=CHAR}, #{coursebrief,jdbcType=VARCHAR}, #{pickey,jdbcType=VARCHAR}, 
      #{coursecontent,jdbcType=VARCHAR}, #{classroomid}, #{uploaduserid,jdbcType=BIGINT}, 
      #{createuserid,jdbcType=BIGINT}, #{isdel,jdbcType=CHAR}, #{isdefault,jdbcType=CHAR}, #{fileurl}, #{sourcekey}, 
      #{duration}, #{createtime,jdbcType=TIMESTAMP}, 
      #{udpatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.ClassroomCourses" useGeneratedKeys="true" keyProperty="id" >
    insert into classroom_courses
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coursetitle != null" >
        coursetitle,
      </if>
      <if test="coursesort != null" >
        coursesort,
      </if>
      <if test="coursetype != null" >
        coursetype,
      </if>
      <if test="coursebrief != null" >
        coursebrief,
      </if>
      <if test="pickey != null" >
        pickey,
      </if>
      <if test="coursecontent != null" >
        coursecontent,
      </if>
      <if test="classroomid != null" >
        classroomid,
      </if>
      <if test="uploaduserid != null" >
        uploaduserid,
      </if>
      <if test="createuserid != null" >
        createuserid,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="isdefault != null" >
        isdefault,
      </if>
      <if test="fileurl != null and fileurl != ''" >
        fileurl,
      </if>
      <if test="sourcekey != null and sourcekey != ''" >
        sourcekey,
      </if>
      <if test="duration != null and duration != ''" >
        duration,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="udpatetime != null" >
        udpatetime,
      </if>
      <if test="teachingtypes != null" >
        teachingtypes,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="status != null" >
        status,
      </if>
	  <if test="daytime != null" >
        daytime,
      </if>
      <if test="liveid != null" >
        liveid,
      </if>
      <if test="chapterid != null" >
        chapterid,
      </if>
      <if test="chaptertitle != null" >
        chaptertitle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coursetitle != null" >
        #{coursetitle,jdbcType=VARCHAR},
      </if>
      <if test="coursesort != null" >
        #{coursesort,jdbcType=INTEGER},
      </if>
      <if test="coursetype != null" >
        #{coursetype,jdbcType=CHAR},
      </if>
      <if test="coursebrief != null" >
        #{coursebrief,jdbcType=VARCHAR},
      </if>
      <if test="pickey != null" >
        #{pickey,jdbcType=VARCHAR},
      </if>
      <if test="coursecontent != null" >
        #{coursecontent,jdbcType=VARCHAR},
      </if>
      <if test="classroomid != null" >
        #{classroomid},
      </if>
      <if test="uploaduserid != null" >
        #{uploaduserid,jdbcType=BIGINT},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=BIGINT},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=CHAR},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=CHAR},
      </if>
      <if test="fileurl != null and fileurl != ''" >
        #{fileurl},
      </if>
      <if test="sourcekey != null and sourcekey != ''" >
        #{sourcekey},
      </if>
      <if test="duration != null and duration != ''" >
        #{duration},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="udpatetime != null" >
        #{udpatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="teachingtypes != null" >
        #{teachingtypes},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="daytime != null" >
        #{daytime},
      </if>
      <if test="liveid != null" >
        #{liveid},
      </if>
      <if test="chapterid != null" >
        #{chapterid},
      </if>
      <if test="chaptertitle != null" >
        #{chaptertitle},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.ClassroomCourses" >
    update classroom_courses
    <set >
      <if test="coursetitle != null and coursetitle != ''" >
        coursetitle = #{coursetitle,jdbcType=VARCHAR},
      </if>
      <if test="coursesort != null and coursesort != ''" >
        coursesort = #{coursesort,jdbcType=INTEGER},
      </if>
      <if test="coursetype != null" >
        coursetype = #{coursetype,jdbcType=CHAR},
      </if>
      <if test="coursebrief != null" >
        coursebrief = #{coursebrief,jdbcType=VARCHAR},
      </if>
      <if test="pickey != null and pickey != ''" >
        pickey = #{pickey,jdbcType=VARCHAR},
      </if>
      <if test="coursecontent != null" >
        coursecontent = #{coursecontent,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=CHAR},
      </if>
      <if test="isdefault != null" >
        isdefault = #{isdefault,jdbcType=CHAR},
      </if>
      <if test="fileurl != null and fileurl != ''" >
        fileurl = #{fileurl},
      </if>
      <if test="sourcekey != null and sourcekey != ''" >
        sourcekey = #{sourcekey},
      </if>
      <if test="duration != null and duration != ''" >
        duration = #{duration},
      </if>
      <if test="udpatetime != null" >
        udpatetime = #{udpatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null">
        starttime = #{starttime},
      </if>
      <if test="endtime != null">
        endtime = #{endtime},
      </if>
      <if test="chapterid != null and chapterid != ''">
        chapterid = #{chapterid},
      </if>
      <if test="chaptertitle != null and chaptertitle != ''">
        chaptertitle = #{chaptertitle},
      </if>
      <if test="status != null">
        status = #{status}
      </if>
    </set>
    where classroomid = #{classroomid} 
    and id = #{id} 
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.ClassroomCourses" >
    update classroom_courses
    set coursetitle = #{coursetitle,jdbcType=VARCHAR},
      coursesort = #{coursesort,jdbcType=INTEGER},
      coursetype = #{coursetype,jdbcType=CHAR},
      coursebrief = #{coursebrief,jdbcType=VARCHAR},
      pickey = #{pickey,jdbcType=VARCHAR},
      coursecontent = #{coursecontent,jdbcType=VARCHAR},
      classroomid = #{classroomid},
      uploaduserid = #{uploaduserid,jdbcType=BIGINT},
      createuserid = #{createuserid,jdbcType=BIGINT},
      isdel = #{isdel,jdbcType=CHAR},
      isdefault = #{isdefault,jdbcType=CHAR}, 
      fileurl = #{fileurl},
      sourcekey = #{sourcekey},
      duration = #{duration}, 
      createtime = #{createtime,jdbcType=TIMESTAMP},
      udpatetime = #{udpatetime,jdbcType=TIMESTAMP}
    where classroomid = #{classroomid} 
    and id = #{id}
  </update>
  
  <update id="updateIsdefaultByClassroomid" >
    update classroom_courses
    set isdefault = 0 
    where classroomid = #{classroomid} 
  </update>
  
  <update id="updateIsdefaultByid" >
    update classroom_courses
    set isdefault = #{isdefault} 
    where id = #{id} 
  </update>
  
  <update id="updateIsdel" >
    update classroom_courses
    set isdel = 1 
    where classroomid = #{classroomid} 
    and id = #{id} 
  </update>
  
  <update id="updateSortByid" >
    update classroom_courses
    set coursesort = #{coursesort}  
    where classroomid = #{classroomid} 
    and id = #{id} 
  </update>
  
  <update id="updateIsupByid" >
    update classroom_courses
    set isup = #{isup}  
    where classroomid = #{classroomid} 
    and id = #{id} 
  </update>
  
  <update id="updateStreamingIsupByid" >
    update classroom_courses
    set isup = #{isup},
    liveid = #{liveid}   
    where classroomid = #{classroomid} 
    and id = #{id} 
  </update>
  
  <update id="updateCoursetypeByClassroomid" >
    update classroom_courses
    set coursetype = #{coursetype}  
    where classroomid = #{classroomid} 
  </update>
  
  <update id="updateCoursetypeByid" >
    update classroom_courses
    set coursetype = #{coursetype}  
    where classroomid = #{classroomid} 
    and id = #{id} 
  </update>

  <update id="updateLiveStatus" >
    update classroom_courses
    set status = #{status}
    where classroomid = #{classroomid} 
    and id = #{id} 
  </update>
  
  <update id="updateTeachingLiveStatus" >
    update classroom_courses
    set status = #{status}
    where classroomid = #{classroomid} 
	    and isdel = 0 
	    and pickey != '' 
	    and isup = 1 
	    and teachingtypes = 1 
	    and (status = 0 or status = 1) 
  </update>

  <update id="updateMedia" >
    update classroom_courses
    set fileurl = #{filekey},
        duration = #{duration}
    where classroomid = #{classroomid} 
    and id = #{id} 
  </update>


  <select id="selectOldCourseCount"  resultType="java.lang.Integer" >
    select count(*)
    from classroom_courses
    where classroomid = #{classroomid}
    and
    chapterid is null
  </select>

  <select id="selectByChapterId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from classroom_courses
    where classroomid = #{classroomid}
    and
    chapterid = #{chapterid}
    and isup = 1 
    order by coursesort asc, createtime desc 
  </select>

  <update id="updateChapterIdByCid" >
    update classroom_courses
    set chapterid = #{chapterid}
    where  classroomid = #{classroomid}
  </update>


</mapper>