<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.ClassroomChapterMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.ClassroomChapter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="chapterid" property="chapterid" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="classroomid" property="classroomid" jdbcType="BIGINT" />
    <result column="isdel" property="isdel" jdbcType="CHAR" />
    <result column="display" property="display" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, chapterid, title, sort, classroomid, isdel, display, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_chapter
    where chapterid = #{chapterid} 
  </select>
  
  <select id="selectChapterByCid" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from classroom_chapter
    where classroomid = #{classroomid} 
    and isdel = 0 
    order by sort desc, createtime asc 
    <if test="pageSize != 0" >
      limit #{startNo},#{pageSize}
    </if>
  </select>
  
  <select id="selectPcSearchChapterList" parameterType="com.longbei.appservice.entity.ClassroomChapter" resultMap="BaseResultMap" >
    select 
	<include refid="Base_Column_List" /> 
    from classroom_chapter
    where classroomid = #{classroomChapter.classroomid} 
    and isdel = 0 
    <if test="classroomChapter.title != null and classroomChapter.title != ''" >
      	and title LIKE concat(concat('%',#{classroomChapter.title}),'%')
    </if>
    <if test="classroomChapter.display != null and classroomChapter.display != ''" >
      	and display = #{classroomChapter.display}
    </if>
    order by sort desc, createtime asc 
    <if test="pageSize != 0" >
      limit #{startNo},#{pageSize}
    </if>
  </select>
  
  <select id="selectSearchCount" parameterType="com.longbei.appservice.entity.ClassroomChapter" resultType="java.lang.Integer" >
    select count(*) 
    from classroom_chapter
    where classroomid = #{classroomChapter.classroomid} 
    and isdel = 0 
    <if test="classroomChapter.title != null and classroomChapter.title != ''" >
      	and title LIKE concat(concat('%',#{classroomChapter.title}),'%')
    </if>
    <if test="classroomChapter.display != null and classroomChapter.display != ''" >
      	and display = #{classroomChapter.display}
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classroom_chapter
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.ClassroomChapter" >
    insert into classroom_chapter (chapterid, title, 
      sort, classroomid, isdel, 
      createtime, updatetime)
    values (#{chapterid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{classroomid,jdbcType=BIGINT}, #{isdel,jdbcType=CHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.ClassroomChapter" >
    insert into classroom_chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chapterid != null" >
        chapterid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="classroomid != null" >
        classroomid,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="display != null" >
        display,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chapterid != null" >
        #{chapterid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null" >
        #{classroomid,jdbcType=BIGINT},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=CHAR},
      </if>
      <if test="display != null" >
        #{display},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.ClassroomChapter" >
    update classroom_chapter
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=CHAR},
      </if>
      <if test="display != null" >
        display = #{display},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where classroomid = #{classroomid} 
    and chapterid = #{chapterid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.ClassroomChapter" >
    update classroom_chapter
    set title = #{title,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      classroomid = #{classroomid,jdbcType=BIGINT},
      isdel = #{isdel,jdbcType=CHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where classroomid = #{classroomid} 
    and chapterid = #{chapterid}
  </update>
  
  <update id="updateIsdel" >
    update classroom_chapter
    set isdel = 1 
    where classroomid = #{classroomid} 
    and chapterid = #{chapterid} 
  </update>
  
  <update id="updateSortByid" >
    update classroom_chapter
    set sort = #{sort} 
    where classroomid = #{classroomid} 
    and chapterid = #{chapterid}
  </update>
  
  <update id="updateDisplayByid" >
    update classroom_chapter
    set display = #{display} 
    where classroomid = #{classroomid} 
    and chapterid = #{chapterid}
  </update>


  <select id="selectChapterCountByTime" resultType="java.lang.Integer" >
    select
    count(*)
    from classroom_chapter
    where classroomid = #{classroomid}
    and isdel = 0
    and createtime &lt; #{createtime}
  </select>
  
</mapper>