<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.ImpAllDetailMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.ImpAllDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="impid" property="impid" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="gtype" property="gtype" jdbcType="CHAR" />
    <result column="detailtype" property="detailtype" jdbcType="CHAR" />
    <result column="giftnum" property="giftnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, impid, status, times, createtime, updatetime, gtype, detailtype, giftnum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from imp_like_detail
    where id = #{id,jdbcType=INTEGER}ßßßßßßßßßßßßßß
  </select>

  <select id="selectByImpAllDetail" parameterType="com.longbei.appservice.entity.ImpAllDetail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from imp_all_detail
    WHERE userid = #{userid}
    <if test="impid != null">
      AND impid=#{impid}
    </if>
    <if test="gtype != null">
      AND gtype=#{gtype}
    </if>
    <if test="detailtype != null">
      AND detailtype=#{detailtype}
    </if>
    ORDER BY createtime DESC
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from imp_like_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <delete id="deleteByImpAllDetail" parameterType="com.longbei.appservice.entity.ImpAllDetail">
    DELETE FROM imp_all_detail
    WHERE userid = #{userid}
    <if test="impid != null">
      AND impid=#{impid}
    </if>
    <if test="gtype != null">
      AND gtype=#{gtype}
    </if>
    <if test="detailtype != null">
      AND detailtype=#{detailtype}
    </if>
  </delete>


  <insert id="insert" parameterType="com.longbei.appservice.entity.ImpAllDetail" >
    insert into imp_like_detail (id, userid, impid, 
      status, times, createtime, 
      updatetime, gtype)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, #{impid,jdbcType=BIGINT}, 
      #{status,jdbcType=CHAR}, #{times,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{gtype,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.ImpAllDetail" >
    insert into imp_like_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="impid != null" >
        impid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="times != null" >
        times,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="gtype != null" >
        gtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="impid != null" >
        #{impid,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="gtype != null" >
        #{gtype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.ImpAllDetail" >
    update imp_like_detail
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="impid != null" >
        impid = #{impid,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="times != null" >
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="gtype != null" >
        gtype = #{gtype,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.ImpAllDetail" >
    update imp_like_detail
    set userid = #{userid,jdbcType=BIGINT},
      impid = #{impid,jdbcType=BIGINT},
      status = #{status,jdbcType=CHAR},
      times = #{times,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      gtype = #{gtype,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>