<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.ImpComplaintsMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.ImpComplaints" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="pid" property="pid" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="impid" property="impid" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="dealtime" property="dealtime" jdbcType="TIMESTAMP" />
    <result column="dealuser" property="dealuser" jdbcType="BIGINT" />
    <result column="checkoption" property="checkoption" jdbcType="VARCHAR" />
    <result column="contenttype" property="contenttype" jdbcType="VARCHAR" />
    <result column="rankid" property="rankid" jdbcType="BIGINT" />
    <result column="gtype" property="gtype" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, userid, impid, content, createtime, status, dealtime, dealuser, checkoption, 
    contenttype, rankid, gtype
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.longbei.appservice.entity.ImpComplaintsKey" >
    select 
    <include refid="Base_Column_List" />
    from imp_complaints
    where id = #{id,jdbcType=BIGINT}
      and pid = #{pid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.longbei.appservice.entity.ImpComplaintsKey" >
    delete from imp_complaints
    where id = #{id,jdbcType=BIGINT}
      and pid = #{pid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.ImpComplaints" >
    insert into imp_complaints (id, pid, userid, 
      impid, content, createtime, 
      status, dealtime, dealuser, 
      checkoption, contenttype, rankid, 
      gtype)
    values (#{id,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, 
      #{impid,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR}, #{dealtime,jdbcType=TIMESTAMP}, #{dealuser,jdbcType=BIGINT}, 
      #{checkoption,jdbcType=VARCHAR}, #{contenttype,jdbcType=VARCHAR}, #{rankid,jdbcType=BIGINT}, 
      #{gtype,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.ImpComplaints" >
    insert into imp_complaints
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="impid != null" >
        impid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="dealtime != null" >
        dealtime,
      </if>
      <if test="dealuser != null" >
        dealuser,
      </if>
      <if test="checkoption != null" >
        checkoption,
      </if>
      <if test="contenttype != null" >
        contenttype,
      </if>
      <if test="rankid != null" >
        rankid,
      </if>
      <if test="gtype != null" >
        gtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="impid != null" >
        #{impid,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="dealtime != null" >
        #{dealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealuser != null" >
        #{dealuser,jdbcType=BIGINT},
      </if>
      <if test="checkoption != null" >
        #{checkoption,jdbcType=VARCHAR},
      </if>
      <if test="contenttype != null" >
        #{contenttype,jdbcType=VARCHAR},
      </if>
      <if test="rankid != null" >
        #{rankid,jdbcType=BIGINT},
      </if>
      <if test="gtype != null" >
        #{gtype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.ImpComplaints" >
    update imp_complaints
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="impid != null" >
        impid = #{impid,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="dealtime != null" >
        dealtime = #{dealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealuser != null" >
        dealuser = #{dealuser,jdbcType=BIGINT},
      </if>
      <if test="checkoption != null" >
        checkoption = #{checkoption,jdbcType=VARCHAR},
      </if>
      <if test="contenttype != null" >
        contenttype = #{contenttype,jdbcType=VARCHAR},
      </if>
      <if test="rankid != null" >
        rankid = #{rankid,jdbcType=BIGINT},
      </if>
      <if test="gtype != null" >
        gtype = #{gtype,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and pid = #{pid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.ImpComplaints" >
    update imp_complaints
    set userid = #{userid,jdbcType=BIGINT},
      impid = #{impid,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      dealtime = #{dealtime,jdbcType=TIMESTAMP},
      dealuser = #{dealuser,jdbcType=BIGINT},
      checkoption = #{checkoption,jdbcType=VARCHAR},
      contenttype = #{contenttype,jdbcType=VARCHAR},
      rankid = #{rankid,jdbcType=BIGINT},
      gtype = #{gtype,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
      and pid = #{pid,jdbcType=BIGINT}
  </update>
</mapper>