<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.ImpComplaintsMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.ImpComplaints" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="comuserid" property="comuserid" />
    <result column="impid" property="impid" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="dealtime" property="dealtime" jdbcType="TIMESTAMP" />
    <result column="dealuser" property="dealuser" />
    <result column="checkoption" property="checkoption" jdbcType="VARCHAR" />
    <result column="contenttype" property="contenttype" jdbcType="VARCHAR" />
    <result column="businessid" property="businessid" jdbcType="BIGINT" />
    <result column="businesstype" property="businesstype" jdbcType="CHAR" />
    <result column="username" property="username" />
    <result column="cusername" property="cusername" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, comuserid, impid, content, createtime, status, dealtime, dealuser, checkoption, 
    contenttype, businessid, businesstype, username, cusername 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from imp_complaints
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectListByStatus" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from imp_complaints 
    <if test="status != 0" >
      where status != 0 
    </if>
    <if test="status == 0" >
      where status = 0 
    </if>
    order by createtime desc 
    <if test="pageSize != 0">
    	LIMIT #{startNum},#{pageSize}
    </if>
  </select>
  
  <select id="selectCountByStatus" resultType="java.lang.Integer">
  	SELECT count(*) from imp_complaints 
  	<if test="status != 0" >
      where status != 0 
    </if>
    <if test="status == 0" >
      where status = 0 
    </if>
  </select>
  
  <select id="searchList" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from imp_complaints 
    where 1=1 
    <if test="status != 0" >
      and status != 0 
    </if>
    <if test="status == 0" >
      and status = 0 
    </if>
    <if test="username != null and username != ''" >
      and username = #{username} 
    </if>
    <if test="businesstype != null and businesstype != ''" >
      and businesstype = #{businesstype} 
    </if>
    <if test="sdealtime != null and sdealtime != ''" >
      AND dealtime &gt;= #{sdealtime} 
    </if>
    <if test="edealtime != null and edealtime != ''" >
      AND dealtime &lt; #{edealtime} 
    </if>
    order by createtime desc 
    <if test="pageSize != 0">
    	LIMIT #{startNum},#{pageSize}
    </if>
  </select>
  
  <select id="searchCount" resultType="java.lang.Integer">
  	SELECT count(*) from imp_complaints 
  	where 1=1 
    <if test="status != 0" >
      and status != 0 
    </if>
    <if test="status == 0" >
      and status = 0 
    </if>
    <if test="username != null and username != ''" >
      and username = #{username} 
    </if>
    <if test="businesstype != null and businesstype != ''" >
      and businesstype = #{businesstype} 
    </if>
    <if test="sdealtime != null and sdealtime != ''" >
      AND dealtime &gt;= #{sdealtime} 
    </if>
    <if test="edealtime != null and edealtime != ''" >
      AND dealtime &lt; #{edealtime} 
    </if>
  </select>
  
  <select id="selectCountByImpid" resultType="java.lang.Integer">
  	SELECT count(*) from imp_complaints 
  	where 1=1 
    <if test="status != 0" >
      and status != 0 
    </if>
    <if test="status == 0" >
      and status = 0 
    </if>
    <if test="impid != null and impid != ''" >
      and impid = #{impid} 
    </if>
    <if test="businesstype != null and businesstype != ''" >
      and businesstype = #{businesstype} 
    </if>
    <if test="businessid != null and businessid != ''" >
      AND businessid = #{businessid} 
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from imp_complaints
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.ImpComplaints" useGeneratedKeys="true" keyProperty="id">
    insert into imp_complaints (id, userid, comuserid, impid, 
      content, createtime, status, 
      dealtime, dealuser, checkoption, 
      contenttype, businessid, businesstype, username, cusername
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{comuserid}, #{impid,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, 
      #{dealtime,jdbcType=TIMESTAMP}, #{dealuser,jdbcType=BIGINT}, #{checkoption,jdbcType=VARCHAR}, 
      #{contenttype,jdbcType=VARCHAR}, #{businessid}, #{businesstype},
      #{username}, #{cusername}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.ImpComplaints" useGeneratedKeys="true" keyProperty="id">
    insert into imp_complaints
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="comuserid != null" >
        comuserid,
      </if>
      <if test="impid != null" >
        impid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="dealtime != null" >
        dealtime,
      </if>
      <if test="dealuser != null" >
        dealuser,
      </if>
      <if test="checkoption != null" >
        checkoption,
      </if>
      <if test="contenttype != null" >
        contenttype,
      </if>
      <if test="businessid != null" >
        businessid,
      </if>
      <if test="businesstype != null" >
        businesstype,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="cusername != null" >
        cusername,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="comuserid != null" >
        #{comuserid},
      </if>
      <if test="impid != null" >
        #{impid,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="dealtime != null" >
        #{dealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealuser != null" >
        #{dealuser,jdbcType=BIGINT},
      </if>
      <if test="checkoption != null" >
        #{checkoption,jdbcType=VARCHAR},
      </if>
      <if test="contenttype != null" >
        #{contenttype,jdbcType=VARCHAR},
      </if>
      <if test="businessid != null" >
        #{businessid},
      </if>
      <if test="businesstype != null" >
        #{businesstype},
      </if>
      <if test="username != null" >
        #{username},
      </if>
      <if test="cusername != null" >
        #{cusername},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.ImpComplaints" >
    update imp_complaints
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="impid != null" >
        impid = #{impid,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="dealtime != null" >
        dealtime = #{dealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealuser != null" >
        dealuser = #{dealuser,jdbcType=BIGINT},
      </if>
      <if test="checkoption != null" >
        checkoption = #{checkoption,jdbcType=VARCHAR},
      </if>
      <if test="contenttype != null" >
        contenttype = #{contenttype,jdbcType=VARCHAR},
      </if>
      <if test="businessid != null" >
        businessid = #{businessid},
      </if>
      <if test="businesstype != null" >
        businesstype = #{businesstype},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.ImpComplaints" >
    update imp_complaints
    set userid = #{userid,jdbcType=BIGINT},
      impid = #{impid,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      dealtime = #{dealtime,jdbcType=TIMESTAMP},
      dealuser = #{dealuser,jdbcType=BIGINT},
      checkoption = #{checkoption,jdbcType=VARCHAR},
      contenttype = #{contenttype,jdbcType=VARCHAR},
      businessid = #{businessid},
      businesstype = #{businesstype}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateImpComplaintsByStatus" >
    update imp_complaints
    set 
      dealtime = #{dealtime},
      <if test="dealuser != null" >
        dealuser = #{dealuser},
      </if>
      <if test="checkoption != null" >
        checkoption = #{checkoption},
      </if>
      status = #{status} 
    where 1=1
    <if test="id != null and id != ''" >
      and id = #{id}
    </if>
    <if test="impid != 0" >
      and impid = #{impid} 
    </if>
    <if test="businessid != 0" >
      and businessid = #{businessid} 
    </if>
    <if test="businesstype != null" >
      and businesstype = #{businesstype} 
    </if>
  </update>
  
</mapper>