<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.ImpGoalPerdayMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.ImpGoalPerday" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="impids" property="impids" jdbcType="VARCHAR" />
    <result column="drawdate" property="drawdate" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="continuedays" property="continuedays" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, impids, drawdate, createtime, updatetime, continuedays
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from imp_goal_perday
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from imp_goal_perday
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.ImpGoalPerday" >
    insert into imp_goal_perday (id, impids, drawdate, 
      createtime, updatetime, continuedays
      )
    values (#{id,jdbcType=INTEGER}, #{impids,jdbcType=VARCHAR}, #{drawdate,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{continuedays,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.ImpGoalPerday" >
    insert into imp_goal_perday
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="impids != null" >
        impids,
      </if>
      <if test="drawdate != null" >
        drawdate,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="continuedays != null" >
        continuedays,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="impids != null" >
        #{impids,jdbcType=VARCHAR},
      </if>
      <if test="drawdate != null" >
        #{drawdate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="continuedays != null" >
        #{continuedays,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.ImpGoalPerday" >
    update imp_goal_perday
    <set >
      <if test="impids != null" >
        impids = #{impids,jdbcType=VARCHAR},
      </if>
      <if test="drawdate != null" >
        drawdate = #{drawdate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="continuedays != null" >
        continuedays = #{continuedays,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.ImpGoalPerday" >
    update imp_goal_perday
    set impids = #{impids,jdbcType=VARCHAR},
      drawdate = #{drawdate,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      continuedays = #{continuedays,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>