<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.ImproveMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.Improve" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="impid" property="impid" jdbcType="BIGINT" />
    <result column="itype" property="itype" jdbcType="CHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="pickey" property="pickey" jdbcType="VARCHAR" />
    <result column="filekey" property="filekey" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="businessid" property="businessid" jdbcType="BIGINT" />
    <result column="businesstype" property="businesstype" jdbcType="CHAR" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="flowers" property="flowers" jdbcType="INTEGER" />
    <result column="diamonds" property="diamonds" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="indexnum" property="indexnum" jdbcType="INTEGER" />
    <result column="isdel" property="isdel" jdbcType="CHAR" />
    <result column="ismainimp" property="ismainimp" jdbcType="CHAR" />
    <result column="ptype" property="ptype" jdbcType="CHAR" />
    <result column="ispublic" property="ispublic" jdbcType="CHAR" />
    <result column="sourcekey" property="sourcekey" jdbcType="VARCHAR" />
    <result column="pimpid" property="pimpid" />
    <result column="isresponded" property="isresponded" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, impid, itype, brief, pickey, filekey, userid, businessid, businesstype, likes, 
    flowers, diamonds, createtime, updatetime, indexnum, isdel, ismainimp, ptype, ispublic,sourcekey
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from ${tablename}

    where impid = #{impid,jdbcType=BIGINT}
    <if test="isdel != null" >
      and isdel = #{isdel,jdbcType=CHAR}
    </if>
    <if test="ispublic != null">
      and ispublic = #{ispublic,jdbcType=CHAR}
    </if>

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from improve
    where impid = #{impid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.Improve" >
    insert into improve (id, impid, itype, 
      brief, pickey, filekey, 
      userid, businessid, businesstype, 
      likes, flowers, diamonds, 
      createtime, updatetime, indexnum, 
      isdel, ismainimp, ptype, ispublic,sourcekey
      )
    values (#{id,jdbcType=BIGINT}, #{impid,jdbcType=BIGINT}, #{itype,jdbcType=CHAR}, 
      #{brief,jdbcType=VARCHAR}, #{pickey,jdbcType=VARCHAR}, #{filekey,jdbcType=VARCHAR}, 
      #{userid,jdbcType=BIGINT}, #{businessid,jdbcType=BIGINT}, #{businesstype,jdbcType=CHAR}, 
      #{likes,jdbcType=INTEGER}, #{flowers,jdbcType=INTEGER}, #{diamonds,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{indexnum,jdbcType=INTEGER}, 
      #{isdel,jdbcType=CHAR}, #{ismainimp,jdbcType=CHAR}, #{ptype,jdbcType=CHAR}, #{ispublic,jdbcType=CHAR}
      , #{sourcekey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective"  >
    insert into ${tablename}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="improve.id != null" >
        id,
      </if>
      <if test="improve.impid != null" >
        impid,
      </if>
      <if test="improve.itype != null" >
        itype,
      </if>
      <if test="improve.brief != null" >
        brief,
      </if>
      <if test="improve.pickey != null" >
        pickey,
      </if>
      <if test="improve.filekey != null" >
        filekey,
      </if>
      <if test="improve.userid != null" >
        userid,
      </if>
      <if test="improve.businessid != null" >
        businessid,
      </if>
      <if test="improve.businesstype != null" >
        businesstype,
      </if>
      <if test="improve.likes != null" >
        likes,
      </if>
      <if test="improve.flowers != null" >
        flowers,
      </if>
      <if test="improve.diamonds != null" >
        diamonds,
      </if>
      <if test="improve.createtime != null" >
        createtime,
      </if>
      <if test="improve.updatetime != null" >
        updatetime,
      </if>
      <if test="improve.indexnum != null" >
        indexnum,
      </if>
      <if test="improve.isdel != null" >
        isdel,
      </if>
      <if test="improve.ismainimp != null" >
        ismainimp,
      </if>
      <if test="improve.ptype != null" >
        ptype,
      </if>
      <if test="improve.ispublic != null" >
        ispublic,
      </if>
      <if test="improve.sourcekey != null" >
        sourcekey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="improve.id != null" >
        #{improve.id,jdbcType=BIGINT},
      </if>
      <if test="improve.impid != null" >
        #{improve.impid,jdbcType=BIGINT},
      </if>
      <if test="improve.itype != null" >
        #{improve.itype,jdbcType=CHAR},
      </if>
      <if test="improve.brief != null" >
        #{improve.brief,jdbcType=VARCHAR},
      </if>
      <if test="improve.pickey != null" >
        #{improve.pickey,jdbcType=VARCHAR},
      </if>
      <if test="improve.filekey != null" >
        #{improve.filekey,jdbcType=VARCHAR},
      </if>
      <if test="improve.userid != null" >
        #{improve.userid,jdbcType=BIGINT},
      </if>
      <if test="improve.businessid != null" >
        #{improve.businessid,jdbcType=BIGINT},
      </if>
      <if test="improve.businesstype != null" >
        #{improve.businesstype,jdbcType=CHAR},
      </if>
      <if test="improve.likes != null" >
        #{improve.likes,jdbcType=INTEGER},
      </if>
      <if test="improve.flowers != null" >
        #{improve.flowers,jdbcType=INTEGER},
      </if>
      <if test="improve.diamonds != null" >
        #{improve.diamonds,jdbcType=INTEGER},
      </if>
      <if test="improve.createtime != null" >
        #{improve.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="improve.updatetime != null" >
        #{improve.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="improve.indexnum != null" >
        #{improve.indexnum,jdbcType=INTEGER},
      </if>
      <if test="improve.isdel != null" >
        #{improve.isdel,jdbcType=CHAR},
      </if>
      <if test="improve.ismainimp != null" >
        #{improve.ismainimp,jdbcType=CHAR},
      </if>
      <if test="improve.ptype != null" >
        #{improve.ptype,jdbcType=CHAR},
      </if>
      <if test="improve.ispublic != null" >
        #{improve.ispublic,jdbcType=CHAR},
      </if>
      <if test="improve.sourcekey != null" >
        #{improve.sourcekey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.Improve" >
    update improve
    <set >
      <if test="impid != null" >
        impid = #{impid,jdbcType=BIGINT},
      </if>
      <if test="itype != null" >
        itype = #{itype,jdbcType=CHAR},
      </if>
      <if test="brief != null" >
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="pickey != null" >
        pickey = #{pickey,jdbcType=VARCHAR},
      </if>
      <if test="filekey != null" >
        filekey = #{filekey,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="businessid != null" >
        businessid = #{businessid,jdbcType=BIGINT},
      </if>
      <if test="businesstype != null" >
        businesstype = #{businesstype,jdbcType=CHAR},
      </if>
      <if test="likes != null" >
        likes = #{likes,jdbcType=INTEGER},
      </if>
      <if test="flowers != null" >
        flowers = #{flowers,jdbcType=INTEGER},
      </if>
      <if test="diamonds != null" >
        diamonds = #{diamonds,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="indexnum != null" >
        indexnum = #{indexnum,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=CHAR},
      </if>
      <if test="ismainimp != null" >
        ismainimp = #{ismainimp,jdbcType=CHAR},
      </if>
      <if test="ptype != null" >
        ptype = #{ptype,jdbcType=CHAR},
      </if>
      <if test="ispublic != null" >
        ispublic = #{ispublic,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.Improve" >
    update improve
    set impid = #{impid,jdbcType=BIGINT},
      itype = #{itype,jdbcType=CHAR},
      brief = #{brief,jdbcType=VARCHAR},
      pickey = #{pickey,jdbcType=VARCHAR},
      filekey = #{filekey,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=BIGINT},
      businessid = #{businessid,jdbcType=BIGINT},
      businesstype = #{businesstype,jdbcType=CHAR},
      likes = #{likes,jdbcType=INTEGER},
      flowers = #{flowers,jdbcType=INTEGER},
      diamonds = #{diamonds,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      indexnum = #{indexnum,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=CHAR},
      ismainimp = #{ismainimp,jdbcType=CHAR},
      ptype = #{ptype,jdbcType=CHAR},
      ispublic = #{ispublic,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <update id="remove" parameterType="String">
    UPDATE improve SET isdel = '1' WHERE impid=#{improveid} AND userid=#{userid}
  </update>


  <update id="updateLikes">
    UPDATE ${tablename} SET
    <if test="opttype == 0">
      likes = likes + 1
    </if>
    <if test="opttype == 1">
      likes = likes - 1
    </if>
    WHERE
    <if test="businessid != null ">
      businessid = #{businessid} AND
    </if>
     impid=#{impid}
  </update>


  <update id="updateFlower">
    UPDATE ${tablename}
    SET flowers = flowers + #{flowernum}
    WHERE
    <if test="businessid != null ">
      businessid = #{businessid} AND
    </if>
    impid = #{impid}
  </update>

  <update id="updateDiamond">
    UPDATE ${tablename}
    SET diamonds = diamonds + #{diamondnum}
    WHERE
    <if test="businessid != null ">
      businessid = #{businessid} AND
    </if>
    AND  impid = #{impid}
  </update>

  <update id="updateMedia">
    UPDATE ${tablename}
    SET
    <if test="pickey != null" >
    pickey = #{pickey},
    </if>
    <if test="filekey!= null" >
      filekey = #{filekey}
    </if>
    WHERE
      sourcekey = #{key}
      <if test="businessid != null" >
        AND
        businessid = #{businessid}
      </if>
  </update>
  
  <sql id="Classroom_List" >
    id, impid, itype, brief, pickey, filekey, userid, businessid, businesstype, likes, 
    flowers, diamonds, createtime, updatetime, indexnum, isdel, ismainimp, ptype, ispublic,sourcekey, 
    pimpid, isresponded
  </sql>

  <select id="selectListByBusinessid" resultMap="BaseResultMap" >
    select #{orderby} a, 
    <if test="tablename == 'improve_classroom'" >
    	<include refid="Classroom_List" /> 
    </if>
    <if test="tablename != 'improve_classroom'" >
    	<include refid="Base_Column_List" /> 
    </if>
    from ${tablename}
    where
     businessid = #{businessid}
    <if test="ismainimp != null" >
      AND ismainimp = #{ismainimp}
    </if>
    <if test="tablename == 'improve_classroom'" >
      AND isresponded = 0 
    </if>
    <if test="orderby == null or orderby ==0">
        ORDER BY createtime DESC
      </if>
      <if test="orderby != null and orderby == 1">
        ORDER BY sum(flowers*10+likes) desc
      </if>
    limit #{startno},#{pagesize}
  </select>
  
  <select id="selectImproveGoal" resultMap="goalMap" >
    select
    <include refid="Base_Column_List" />
    from improve_goal 
    where 
     goalid = #{goalid} 
      AND ismainimp = 1
  </select>

  <resultMap id="goalMap" type="com.longbei.appservice.entity.Improve" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="impid" property="impid" jdbcType="BIGINT" />
    <result column="itype" property="itype" jdbcType="CHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="pickey" property="pickey" jdbcType="VARCHAR" />
    <result column="filekey" property="filekey" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="businessid" property="businessid" jdbcType="BIGINT" />
    <result column="businesstype" property="businesstype" jdbcType="CHAR" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="flowers" property="flowers" jdbcType="INTEGER" />
    <result column="diamonds" property="diamonds" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="indexnum" property="indexnum" jdbcType="INTEGER" />
    <result column="isdel" property="isdel" jdbcType="CHAR" />
    <result column="ismainimp" property="ismainimp" jdbcType="CHAR" />
    <result column="ptype" property="ptype" jdbcType="CHAR" />
    <result column="ispublic" property="ispublic" jdbcType="CHAR" />
    <result column="goalid" property="goalid" />
  </resultMap>

  <select id="findCircleMemberImprove" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from improve_circle
    where
        userid = #{userId}
      and circleid = #{circleId}
    ORDER BY createtime DESC
  </select>

  <select id="selectGoalMainImproveList">
    SELECT
    <include refid="Base_Column_List"/>
    FROM improve_goal
    where userid=#{userid} and ismainimp = '1'
    ORDER BY createtime DESC
    <if test="endNum > 0">
      limit #{startNum},#{endNum}
    </if>
  </select>

  <update id="delGoalToImprove">
    UPDATE improve_goal
    set isbusinessdel = '1'
    where userid=#{userid}
    and businessid=#{businessid}
    and businesstype=#{businesstype}
  </update>

</mapper>