<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.ImproveTopicMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.ImproveTopic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="impid" property="impid" jdbcType="BIGINT" />
    <result column="gtype" property="gtype" jdbcType="CHAR" />
    <result column="supertopicid" property="supertopicid" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="topictitle" property="topictitle" jdbcType="VARCHAR"/>
    <result column="isdel" property="isdel" jdbcType="CHAR" />
    <result column="ispublic" property="ispublic" jdbcType="CHAR" />
    <result column="businessid" property="businessid" jdbcType="BIGINT" />
    <result column="businesstype" property="businesstype" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, impid, gtype, supertopicid, createtime, updatetime,topictitle
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from improve_topic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByImpId" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    improve_topic
    where impid=#{impid,jdbcType=BIGINT}
  </select>
  <select id="selectByTopicId" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    improve_topic
    where supertopicid=#{topicId,jdbcType=BIGINT} and isdel='0' and ispublic = '0'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from improve_topic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.ImproveTopic" >
    insert into improve_topic (id, impid, gtype, 
      supertopicid, createtime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{impid,jdbcType=BIGINT}, #{gtype,jdbcType=CHAR}, 
      #{supertopicid,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.ImproveTopic" >
    insert into improve_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="impid != null" >
        impid,
      </if>
      <if test="gtype != null" >
        gtype,
      </if>
      <if test="supertopicid != null" >
        supertopicid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="impid != null" >
        #{impid,jdbcType=BIGINT},
      </if>
      <if test="gtype != null" >
        #{gtype,jdbcType=CHAR},
      </if>
      <if test="supertopicid != null" >
        #{supertopicid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.ImproveTopic" >
    update improve_topic
    <set >
      <if test="impid != null" >
        impid = #{impid,jdbcType=BIGINT},
      </if>
      <if test="gtype != null" >
        gtype = #{gtype,jdbcType=CHAR},
      </if>
      <if test="supertopicid != null" >
        supertopicid = #{supertopicid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.ImproveTopic" >
    update improve_topic
    set impid = #{impid,jdbcType=BIGINT},
      gtype = #{gtype,jdbcType=CHAR},
      supertopicid = #{supertopicid,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>