<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.LiveGiftDetailMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.LiveGiftDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fromuid" property="fromuid" />
    <result column="touid" property="touid" />
    <result column="giftid" property="giftid" />
    <result column="num" property="num" />
    <result column="gifttitle" property="gifttitle" />
    <result column="businessid" property="businessid" />
    <result column="businesstype" property="businesstype" />
    <result column="createtime" property="createtime" />
    <result column="updatetime" property="updatetime" />
    <result column="status" property="status" />
    <result column="gtype" property="gtype" />
    <result column="picurl" property="picurl" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, fromuid, touid, giftid, num, gifttitle, businessid, businesstype,createtime,updatetime,status, gtype
  </sql>

  <select id="selectOwnGiftList" resultMap="BaseResultMap" >
      SELECT 
      lgd.fromuid,lgd.touid,lgd.giftid,lgd.num,
      lg.title as gifttitle,lgd.createtime,lg.picurl as picurl 
      FROM live_gift_detail lgd 
	  INNER JOIN live_gift lg ON lgd.giftid = lg.giftid 
	  WHERE 
	  <if test="businessid != null and businessid != ''" >
      	lgd.businessid = #{businessid} 
      	AND lgd.businesstype = #{businesstype} AND 
      </if>
	  lgd.touid =  #{userid}
      order by lgd.createtime desc
      <if test="startNum != null" >
        limit #{startNum},#{endNum}
      </if>
  </select>
  
  <select id="selectGiftListByGiftid" resultMap="BaseResultMap" >
      SELECT 
      lgd.fromuid,lgd.touid,lgd.giftid,lgd.num,
      lg.title as gifttitle,lgd.createtime,lg.picurl as picurl 
      FROM live_gift_detail lgd 
	  INNER JOIN live_gift lg ON lgd.giftid = lg.giftid 
	  WHERE
	  	<if test="businessid != null and businessid != ''" >
      		lgd.businessid = #{businessid} 
      		AND lgd.businesstype = #{businesstype} AND 
      	</if> 
	  	lgd.touid = #{userid} 
	    and lgd.giftid = #{giftid} 
      order by lgd.createtime desc
      <if test="startNum != null" >
        limit #{startNum},#{endNum}
      </if>
  </select>
  
  <select id="selectGiftSumList" resultMap="BaseResultMap" >
      SELECT 
      id, touid, giftid, SUM(num) as num, gifttitle, businessid, businesstype 
      FROM live_gift_detail
      where 
      <if test="businessid != null and businessid != ''" >
      	businessid = #{businessid} 
      	AND businesstype = #{businesstype} AND 
      </if>
      touid = #{userid} 
      GROUP BY giftid
  </select>
  
  <select id="selectSum" resultType="java.lang.Integer">
      SELECT sum(num) FROM live_gift_detail 
      WHERE businessid = #{businessid} 
      AND businesstype = #{businesstype} 
  </select>

    <select id="selectGiftList" resultMap="BaseResultMap" >
        SELECT 
      	<include refid="Base_Column_List" /> 
        FROM live_gift_detail
        where fromuid = #{userid}
        order by createtime desc
        <if test="startNum != null" >
            limit #{startNum},#{endNum}
        </if>
    </select>

    <!-- 添加礼物明细 -->
    <insert id="insertGiftDetail" parameterType="com.longbei.appservice.entity.LiveGiftDetail">
        insert into live_gift_detail(
        <trim prefixOverrides=",">
            <if test="liveGiftDetail.fromuid != null">
                fromuid
            </if>
            <if test="liveGiftDetail.touid != null">
                ,touid
            </if>
            <if test="liveGiftDetail.giftid != null">
                ,giftid
            </if>
            <if test="liveGiftDetail.num != null">
                ,num
            </if>
            <if test="liveGiftDetail.gifttitle != null">
                ,gifttitle
            </if>
            <if test="liveGiftDetail.businessid != null">
                ,businessid
            </if>
            <if test="liveGiftDetail.businesstype != null">
                ,businesstype
            </if>
            <if test="liveGiftDetail.createtime != null">
                ,createtime
            </if>
            <if test="liveGiftDetail.updatetime != null">
                ,updatetime
            </if>
            <if test="liveGiftDetail.status != null">
                ,status
            </if>
            <if test="liveGiftDetail.gtype != null">
                ,gtype
            </if>
        </trim>
        )values(
        <trim prefixOverrides=",">
            <if test="liveGiftDetail.fromuid != null">
                ,#{liveGiftDetail.fromuid}
            </if>
            <if test="liveGiftDetail.touid != null">
                ,#{liveGiftDetail.touid}
            </if>
            <if test="liveGiftDetail.giftid != null">
                ,#{liveGiftDetail.giftid}
            </if>
            <if test="liveGiftDetail.num != null">
                ,#{liveGiftDetail.num}
            </if>
            <if test="liveGiftDetail.gifttitle != null">
                ,#{liveGiftDetail.gifttitle}
            </if>
            <if test="liveGiftDetail.businessid != null">
                ,#{liveGiftDetail.businessid}
            </if>
            <if test="liveGiftDetail.businesstype != null">
                ,#{liveGiftDetail.businesstype}
            </if>
            <if test="liveGiftDetail.createtime != null">
                ,#{liveGiftDetail.createtime}
            </if>
            <if test="liveGiftDetail.updatetime != null">
                ,#{liveGiftDetail.updatetime}
            </if>
            <if test="liveGiftDetail.status != null">
                ,#{liveGiftDetail.status}
            </if>
            <if test="liveGiftDetail.gtype != null">
                ,#{liveGiftDetail.gtype}
            </if>
        </trim>
        )
    </insert>

</mapper>