<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.RankAwardReleaseMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.RankAwardRelease" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rankid" property="rankid" jdbcType="VARCHAR" />
    <result column="awardid" property="awardid" jdbcType="VARCHAR" />
    <result column="awardlevel" property="awardlevel" jdbcType="INTEGER" />
    <result column="awardrate" property="awardrate" jdbcType="DOUBLE" />
    <result column="awardcount" property="awardcount" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="awardnickname" property="awardnickname" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <association property="award" javaType="com.longbei.appservice.entity.Award">
      <result column="awardprice" property="awardprice" jdbcType="DOUBLE" />
      <result column="awardphotos" property="awardphotos" jdbcType="VARCHAR" />
      <result column="awardtype" property="awardtype" jdbcType="VARCHAR" />
      <result column="awardtitle" property="awardtitle" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, rankid, awardid, awardlevel, awardrate, awardcount,awardnickname, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rank_award_release
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectListByRankid" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM rank_award_release
    WHERE rankid=#{rankid} ORDER BY awardlevel ASC
  </select>


  <select id="selectByRankIdAndAwardId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM rank_award_release
    WHERE rankid=#{rankid} AND awardid=#{awardid}
  </select>



  <delete id="deleteByRankid">
    DELETE FROM rank_award_release
    WHERE rankid=#{rankid}
  </delete>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rank_award_release
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertRankAwardRe" >
    insert into rank_award_release (rankid, awardid,
      awardlevel, awardrate,awardnickname,awardcount,
      createtime)
    values
      (#{rankaward.rankid},#{rankaward.awardid},#{rankaward.awardlevel},#{rankaward.awardrate},
      #{rankaward.awardnickname},#{rankaward.awardcount},#{rankaward.createtime})
  </insert>
  <insert id="insert" parameterType="com.longbei.appservice.entity.RankAwardRelease" >
    insert into rank_award_release (id, rankid, awardid,
      awardlevel, awardrate, awardcount,
      createtime)
    values (#{id,jdbcType=INTEGER}, #{rankid,jdbcType=VARCHAR}, #{awardid,jdbcType=VARCHAR}, 
      #{awardlevel,jdbcType=INTEGER}, #{awardrate,jdbcType=DOUBLE}, #{awardcount,jdbcType=INTEGER},
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.RankAwardRelease" >
    insert into rank_award_release
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rankid != null" >
        rankid,
      </if>
      <if test="awardid != null" >
        awardid,
      </if>
      <if test="awardlevel != null" >
        awardlevel,
      </if>
      <if test="awardrate != null" >
        awardrate,
      </if>
      <if test="awardcount != null" >
        awardcount,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rankid != null" >
        #{rankid,jdbcType=VARCHAR},
      </if>
      <if test="awardid != null" >
        #{awardid,jdbcType=VARCHAR},
      </if>
      <if test="awardlevel != null" >
        #{awardlevel,jdbcType=INTEGER},
      </if>
      <if test="awardrate != null" >
        #{awardrate,jdbcType=DOUBLE},
      </if>
      <if test="awardcount != null" >
        #{awardcount,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.RankAwardRelease" >
    update rank_award_release
    <set >
      <if test="rankid != null" >
        rankid = #{rankid,jdbcType=VARCHAR},
      </if>
      <if test="awardid != null" >
        awardid = #{awardid,jdbcType=VARCHAR},
      </if>
      <if test="awardlevel != null" >
        awardlevel = #{awardlevel,jdbcType=INTEGER},
      </if>
      <if test="awardrate != null" >
        awardrate = #{awardrate,jdbcType=DOUBLE},
      </if>
      <if test="awardcount != null" >
        awardcount = #{awardcount,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.RankAwardRelease" >
    update rank_award_release
    set rankid = #{rankid,jdbcType=VARCHAR},
      awardid = #{awardid,jdbcType=VARCHAR},
      awardlevel = #{awardlevel,jdbcType=INTEGER},
      awardrate = #{awardrate,jdbcType=DOUBLE},
      awardcount = #{awardcount,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 获取榜单的奖品 -->
  <select id="findRankAward" resultMap="BaseResultMap">
    select
      awardid,
      awardlevel,
      awardnickname,
      awardrate,
      awardcount
    from rank_award_release
    where rankid = #{rankid}
    order by awardlevel
  </select>
</mapper>