<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.RankMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.Rank" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rankid" property="rankid" jdbcType="BIGINT" />
    <result column="ranktitle" property="ranktitle" jdbcType="VARCHAR" />
    <result column="rankbrief" property="rankbrief" jdbcType="VARCHAR" />
    <result column="rankdetail" property="rankdetail" jdbcType="VARCHAR" />
    <result column="ranklimite" property="ranklimite" jdbcType="INTEGER" />
    <result column="rankinvolved" property="rankinvolved" jdbcType="INTEGER" />
    <result column="rankscope" property="rankscope" jdbcType="INTEGER" />
    <result column="rankphotos" property="rankphotos" jdbcType="VARCHAR" />
    <result column="rankrate" property="rankrate" jdbcType="INTEGER" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="areaname" property="areaname" jdbcType="VARCHAR" />
    <result column="coordinate" property="coordinate" jdbcType="VARCHAR" />
    <result column="isfinish" property="isfinish" jdbcType="CHAR" />
    <result column="createuserid" property="createuserid" jdbcType="BIGINT" />
    <result column="ranktype" property="ranktype" jdbcType="CHAR" />
    <result column="ispublic" property="ispublic" jdbcType="CHAR" />
    <result column="rankcateid" property="rankcateid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="likescore" property="likescore" jdbcType="INTEGER" />
    <result column="flowerscore" property="flowerscore" jdbcType="INTEGER" />
    <result column="diamondscore" property="diamondscore" jdbcType="INTEGER" />
    <result column="codeword" property="codeword" jdbcType="VARCHAR" />
    <result column="ptype" property="ptype" jdbcType="CHAR" />
    <result column="companyname" property="companyname" jdbcType="VARCHAR" />
    <result column="companyphotos" property="companyphotos" jdbcType="VARCHAR" />
    <result column="companybrief" property="companybrief" jdbcType="VARCHAR" />
    <result column="sourcetype" property="sourcetype" jdbcType="CHAR" />
    <result column="joinlastday" property="joinlastday" jdbcType="INTEGER" />
    <result column="maximprovenum" property="maximprovenum" jdbcType="INTEGER" />
    <result column="minimprovenum" property="minimprovenum" jdbcType="INTEGER" />
    <result column="ischeck" property="ischeck" jdbcType="CHAR" />
    <result column="isgroup" property="isgroup" jdbcType="CHAR" />
    <result column="rankcardid" property="rankcardid" jdbcType="VARCHAR" />
    <result column="notice" property="notice" jdbcType="VARCHAR" />
    <result column="isup" property="isup" jdbcType="CHAR" />
    <result column="isdel" property="isdel" jdbcType="CHAR" />
    <result column="needconfirm" property="needConfirm" jdbcType="CHAR" />
    <result column="sponsornum" property="sponsornum" jdbcType="INTEGER" />
    <result column="sponsormoney" property="sponsormoney" jdbcType="INTEGER" />
    <result column="joincode" property="joincode" jdbcType="VARCHAR" />
    <result column="rankrule" property="rankrule" jdbcType="VARCHAR" />
    <result column="isrecommend" property="isrecommend" jdbcType="VARCHAR" />
    <result column="ishomerecommend" property="ishomerecommend" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="autotime" property="autotime" jdbcType="VARCHAR" />
    <result column="maxtotalimprovenum" property="maxtotalimprovenum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,rankid, ranktitle, rankbrief, rankdetail, ranklimite, rankinvolved, rankscope, rankphotos,
    rankrate, starttime, endtime, areaname, coordinate, isfinish, createuserid, ranktype,
    ispublic, rankcateid, createtime, updatetime, likescore, flowerscore, diamondscore,
    codeword, ptype,companyname,companyphotos,companybrief,sourcetype,joincode,
    joinlastday,maximprovenum,minimprovenum,ischeck,isgroup,rankcardid,isup,isdel,sponsornum,
    sponsormoney,rankrule,isrecommend,weight,ishomerecommend,notice,needConfirm,autotime,maxtotalimprovenum
  </sql>

  <sql id="RANK_Base_Column_List" >
    r.id,r.rankid, r.ranktitle, r.rankbrief, r.rankdetail, r.ranklimite, r.rankinvolved, r.rankscope, r.rankphotos,
    r.rankrate, r.starttime, r.endtime, r.areaname, r.coordinate, r.isfinish, r.createuserid, r.ranktype,
    r.ispublic, r.rankcateid, r.createtime, r.updatetime, r.likescore, r.flowerscore, r.diamondscore,
    r.codeword, r.ptype,r.companyname,r.companyphotos,r.companybrief,r.sourcetype,r.joincode,
    r.joinlastday,r.maximprovenum,r.minimprovenum,r.ischeck,r.isgroup,r.rankcardid,r.isup,r.isdel,r.sponsornum,
    r.sponsormoney,r.rankrule,r.isrecommend,r.weight,r.ishomerecommend,r.notice,r.needConfirm,r.autotime,r.maxtotalimprovenum
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from rank
    where rankid = #{rankid}
  </select>
  
  <select id="selectRankByRankid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rank
    where isdel = '0'
        and rankid = #{rankid,jdbcType=BIGINT}
  </select>
  <select id="selectListCount" parameterType="com.longbei.appservice.entity.Rank" resultType="java.lang.Integer">
    SELECT
      COUNT(1)
    FROM rank
    WHERE 1=1
    <if test="ranktitle != null and ranktitle != ''" >
      AND ranktitle LIKE concat(concat('%',#{ranktitle}),'%')
    </if>
    <if test="rankid != null and rankid != ''" >
      AND rankid LIKE concat(concat('%',#{rankid}),'%')
    </if>
    <if test="rankbrief != null and rankbrief != ''" >
      AND rankbrief LIKE concat(concat('%',#{rankbrief}),'%')
    </if>
    <if test="ptype != null and ptype != '-1'.toString()" >
      AND ptype = #{ptype}
    </if>
    <if test="ranktype != null and ranktype != '-1'.toString()" >
      AND ranktype = #{ranktype}
    </if>
    <if test="isfinish != null and isfinish != '-1'.toString()" >
      AND isfinish = #{isfinish}
    </if>
    <if test="sstarttime != null" >
      AND starttime &gt;= #{sstarttime}
    </if>
    <if test="estarttime != null" >
      AND starttime &lt; #{estarttime}
    </if>
    <if test="rankscope != null  and rankscope != '-1'.toString()" >
      AND rankscope = #{rankscope}
    </if>
    <if test="isup != null" >
      AND isup = #{isup}
    </if>
    <if test="isdel != null" >
      AND isdel = #{isdel}
    </if>
    <if test="sourcetype != null  and sourcetype != '-1'.toString()" >
      AND sourcetype = #{sourcetype}
    </if>
    <if test="createuserid != null" >
      AND createuserid = #{createuserid}
    </if>
    <if test="ishomerecommend != null" >
      AND ishomerecommend = #{ishomerecommend}
    </if>
    <if test="isrecommend != null" >
      AND isrecommend = #{isrecommend}
    </if>
  </select>

  <select id="selectListWithPage" parameterType="com.longbei.appservice.entity.Rank" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM rank
    WHERE 1=1
    <if test="rank.ranktitle != null and rank.ranktitle != ''" >
      AND ranktitle LIKE concat(concat('%',#{rank.ranktitle}),'%')
    </if>
    <if test="rank.rankid != null and rank.rankid != ''" >
      AND rankid LIKE concat(concat('%',#{rank.rankid}),'%')
    </if>
    <if test="rank.rankbrief != null and rank.rankbrief != ''" >
      AND rankbrief LIKE concat(concat('%',#{rank.rankbrief}),'%')
    </if>
    <if test="rank.ptype != null and rank.ptype != '-1'.toString()" >
      AND ptype = #{rank.ptype}
    </if>
    <if test="rank.ranktype != null and rank.ranktype != '-1'.toString()" >
      AND ranktype = #{rank.ranktype}
    </if>
    <if test="rank.isfinish != null and rank.isfinish != '-1'.toString()" >
      AND isfinish = #{rank.isfinish}
    </if>
    <if test="rank.sstarttime != null" >
      AND starttime &gt;= #{rank.sstarttime}
    </if>
    <if test="rank.estarttime != null" >
      AND starttime &lt; #{rank.estarttime}
    </if>
    <if test="rank.rankscope != null  and rank.rankscope != '-1'.toString()" >
      AND rankscope = #{rank.rankscope}
    </if>
    <if test="rank.isup != null" >
      AND isup = #{rank.isup}
    </if>
    <if test="rank.isdel != null" >
      AND isdel = #{rank.isdel}
    </if>
    <if test="rank.sourcetype != null  and rank.sourcetype != '-1'.toString()" >
      AND sourcetype = #{rank.sourcetype}
    </if>
    <if test="rank.createuserid != null" >
      AND createuserid = #{rank.createuserid}
    </if>
    <if test="rank.ishomerecommend != null" >
      AND ishomerecommend = #{rank.ishomerecommend}
    </if>
    <if test="rank.isrecommend != null" >
      AND isrecommend = #{rank.isrecommend}
    </if>
    <choose>
      <when test="rank.isrecommend=='1'.toString()">
        ORDER BY weight DESC ,createtime DESC
      </when>
      <otherwise>
        ORDER BY createtime DESC
      </otherwise>
    </choose>

    <if test="startno != null">
      limit #{startno},#{pagesize}
    </if>
  </select>

  <select id="selectListWithPageOrderByInvolved" parameterType="com.longbei.appservice.entity.Rank" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM rank
    WHERE 1=1
    <if test="rank.ranktitle != null and rank.ranktitle != ''" >
      AND ranktitle LIKE concat(concat('%',#{rank.ranktitle}),'%')
    </if>
    <if test="rank.rankid != null and rank.rankid != ''" >
      AND rankid LIKE concat(concat('%',#{rank.rankid}),'%')
    </if>
    <if test="rank.rankbrief != null and rank.rankbrief != ''" >
      AND rankbrief LIKE concat(concat('%',#{rank.rankbrief}),'%')
    </if>
    <if test="rank.ptype != null and rank.ptype != '-1'.toString()" >
      AND ptype = #{rank.ptype}
    </if>
    <if test="rank.ranktype != null and rank.ranktype != '-1'.toString()" >
      AND ranktype = #{rank.ranktype}
    </if>
    <if test="rank.isfinish != null and rank.isfinish != '-1'.toString()" >
      AND isfinish = #{rank.isfinish}
    </if>
    <if test="rank.sstarttime != null" >
      AND starttime &gt;= #{rank.sstarttime}
    </if>
    <if test="rank.estarttime != null" >
      AND starttime &lt; #{rank.estarttime}
    </if>
    <if test="rank.rankscope != null  and rank.rankscope != '-1'.toString()" >
      AND rankscope = #{rank.rankscope}
    </if>
    <if test="rank.isup != null" >
      AND isup = #{rank.isup}
    </if>
    <if test="rank.isdel != null" >
      AND isdel = #{rank.isdel}
    </if>
    <if test="rank.sourcetype != null  and rank.sourcetype != '-1'.toString()" >
      AND sourcetype = #{rank.sourcetype}
    </if>
    <if test="rank.createuserid != null" >
      AND createuserid = #{rank.createuserid}
    </if>
    <if test="rank.ishomerecommend != null" >
      AND ishomerecommend = #{rank.ishomerecommend}
    </if>
    <if test="rank.isrecommend != null" >
      AND isrecommend = #{rank.isrecommend}
    </if>
    <choose>
      <when test="rank.isrecommend=='1'.toString()">
        ORDER BY weight DESC ,createtime DESC
      </when>
      <when test="orderByInvolved=='0'.toString()">
        ORDER BY rankinvolved ASC
      </when>
      <when test="orderByInvolved=='1'.toString()">
        ORDER BY rankinvolved DESC
      </when>
      <otherwise>
        ORDER BY createtime DESC
      </otherwise>
    </choose>
    <if test="startno != null">
      limit #{startno},#{pagesize}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rank
    where rankid = #{rankid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.Rank" >
    insert into rank (id, rankid, ranktitle, rankbrief, 
      rankdetail, ranklimite, rankinvolved, 
      rankscope, rankphotos, rankrate, 
      starttime, endtime, areaname, 
      coordinate, isfinish, createuserid, 
      ranktype, ispublic, rankcateid, 
      createtime, updatetime, likescore, 
      flowerscore, diamondscore, codeword,
      ptype,autotime,maxtotalimprovenum)
    values (#{id,jdbcType=INTEGER},#{rankid,jdbcType=INTEGER}, #{ranktitle,jdbcType=VARCHAR}, #{rankbrief,jdbcType=VARCHAR}, 
      #{rankdetail,jdbcType=VARCHAR}, #{ranklimite,jdbcType=INTEGER}, #{rankinvolved,jdbcType=INTEGER}, 
      #{rankscope,jdbcType=INTEGER}, #{rankphotos,jdbcType=VARCHAR}, #{rankrate,jdbcType=INTEGER},
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{areaname,jdbcType=VARCHAR}, 
      #{coordinate,jdbcType=VARCHAR}, #{isfinish,jdbcType=CHAR}, #{createuserid,jdbcType=BIGINT}, 
      #{ranktype,jdbcType=CHAR}, #{ispublic,jdbcType=CHAR}, #{rankcateid,jdbcType=INTEGER},
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{likescore,jdbcType=INTEGER}, 
      #{flowerscore,jdbcType=INTEGER}, #{diamondscore,jdbcType=INTEGER}, #{codeword,jdbcType=VARCHAR}, 
      #{ptype,jdbcType=CHAR},#{autotime,jdbcType=TIMESTAMP},#{maxtotalimprovenum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.Rank" >
    insert into rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rankid != null" >
        rankid,
      </if>
      <if test="ranktitle != null" >
        ranktitle,
      </if>
      <if test="rankbrief != null" >
        rankbrief,
      </if>
      <if test="rankdetail != null" >
        rankdetail,
      </if>
      <if test="ranklimite != null" >
        ranklimite,
      </if>
      <if test="rankinvolved != null" >
        rankinvolved,
      </if>
      <if test="rankscope != null" >
        rankscope,
      </if>
      <if test="rankphotos != null" >
        rankphotos,
      </if>
      <if test="rankrate != null" >
        rankrate,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="areaname != null" >
        areaname,
      </if>
      <if test="coordinate != null" >
        coordinate,
      </if>
      <if test="isfinish != null" >
        isfinish,
      </if>
      <if test="createuserid != null" >
        createuserid,
      </if>
      <if test="ranktype != null" >
        ranktype,
      </if>
      <if test="ispublic != null" >
        ispublic,
      </if>
      <if test="rankcateid != null" >
        rankcateid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createtime != null" >
        updatetime,
      </if>
      <if test="likescore != null" >
        likescore,
      </if>
      <if test="flowerscore != null" >
        flowerscore,
      </if>
      <if test="diamondscore != null" >
        diamondscore,
      </if>
      <if test="codeword != null" >
        codeword,
      </if>
      <if test="ptype != null" >
        ptype,
      </if>
      <if test="companyname != null" >
        companyname,
      </if>
      <if test="companyphotos != null" >
        companyphotos,
      </if>
      <if test="companybrief != null" >
        companybrief,
      </if>
      <if test="sourcetype != null" >
        sourcetype,
      </if>
      <if test="joinlastday != null" >
        joinlastday,
      </if>
      <if test="maximprovenum != null" >
        maximprovenum,
      </if>
      <if test="minimprovenum != null" >
        minimprovenum,
      </if>
      <if test="ischeck != null" >
        ischeck,
      </if>
      <if test="isgroup != null" >
        isgroup,
      </if>
      <if test="rankcardid != null" >
        rankcardid,
      </if>
      <if test="isup != null" >
        isup,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="joincode != null" >
        joincode,
      </if>
      <if test="rankrule != null" >
        rankrule,
      </if>
      <if test="notice != null" >
        notice,
      </if>
      <if test="needConfirm != null" >
        needConfirm,
      </if>
      <if test="autotime != null" >
        autotime,
      </if>
      <if test="maxtotalimprovenum != null" >
        maxtotalimprovenum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rankid != null" >
        #{rankid,jdbcType=BIGINT},
      </if>
      <if test="ranktitle != null" >
        #{ranktitle,jdbcType=VARCHAR},
      </if>
      <if test="rankbrief != null" >
        #{rankbrief,jdbcType=VARCHAR},
      </if>
      <if test="rankdetail != null" >
        #{rankdetail,jdbcType=VARCHAR},
      </if>
      <if test="ranklimite != null" >
        #{ranklimite,jdbcType=INTEGER},
      </if>
      <if test="rankinvolved != null" >
        #{rankinvolved,jdbcType=INTEGER},
      </if>
      <if test="rankscope != null" >
        #{rankscope,jdbcType=INTEGER},
      </if>
      <if test="rankphotos != null" >
        #{rankphotos,jdbcType=VARCHAR},
      </if>
      <if test="rankrate != null" >
        #{rankrate,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="areaname != null" >
        #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null" >
        #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="isfinish != null" >
        #{isfinish,jdbcType=CHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=BIGINT},
      </if>
      <if test="ranktype != null" >
        #{ranktype,jdbcType=CHAR},
      </if>
      <if test="ispublic != null" >
        #{ispublic,jdbcType=CHAR},
      </if>
      <if test="rankcateid != null" >
        #{rankcateid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="likescore != null" >
        #{likescore,jdbcType=INTEGER},
      </if>
      <if test="flowerscore != null" >
        #{flowerscore,jdbcType=INTEGER},
      </if>
      <if test="diamondscore != null" >
        #{diamondscore,jdbcType=INTEGER},
      </if>
      <if test="codeword != null" >
        #{codeword,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        #{ptype,jdbcType=CHAR},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companyphotos != null" >
        #{companyphotos,jdbcType=VARCHAR},
      </if>
      <if test="companybrief != null" >
        #{companybrief,jdbcType=VARCHAR},
      </if>
      <if test="sourcetype != null" >
        #{sourcetype,jdbcType=CHAR},
      </if>
      <if test="joinlastday != null" >
        #{joinlastday},
      </if>
      <if test="maximprovenum != null" >
        #{maximprovenum},
      </if>
      <if test="minimprovenum != null" >
        #{minimprovenum},
      </if>
      <if test="ischeck != null" >
        #{ischeck},
      </if>
      <if test="isgroup != null" >
        #{isgroup},
      </if>
      <if test="rankcardid != null" >
        #{rankcardid},
      </if>
      <if test="isup != null" >
        #{isup},
      </if>
      <if test="isdel != null" >
        #{isdel},
      </if>
      <if test="joincode != null" >
        #{joincode},
      </if>
      <if test="rankrule != null" >
        #{rankrule},
      </if>
      <if test="notice != null" >
        #{notice},
      </if>
      <if test="needConfirm != null" >
        #{needConfirm},
      </if>
      <if test="autotime != null" >
        #{autotime},
      </if>
      <if test="maxtotalimprovenum != null" >
        #{maxtotalimprovenum},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.Rank" >
    update rank
    <set >
      <if test="ranktitle != null" >
        ranktitle = #{ranktitle,jdbcType=VARCHAR},
      </if>
      <if test="rankbrief != null" >
        rankbrief = #{rankbrief,jdbcType=VARCHAR},
      </if>
      <if test="rankdetail != null" >
        rankdetail = #{rankdetail,jdbcType=VARCHAR},
      </if>
      <if test="ranklimite != null" >
        ranklimite = #{ranklimite,jdbcType=INTEGER},
      </if>
      <if test="rankscope != null" >
        rankscope = #{rankscope,jdbcType=INTEGER},
      </if>
      <if test="rankphotos != null" >
        rankphotos = #{rankphotos,jdbcType=VARCHAR},
      </if>
      <if test="rankrate != null" >
        rankrate = #{rankrate,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="areaname != null" >
        areaname = #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null" >
        coordinate = #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="isfinish != null" >
        isfinish = #{isfinish,jdbcType=CHAR},
      </if>
      <if test="createuserid != null" >
        createuserid = #{createuserid,jdbcType=BIGINT},
      </if>
      <if test="ranktype != null" >
        ranktype = #{ranktype,jdbcType=CHAR},
      </if>
      <if test="ispublic != null" >
        ispublic = #{ispublic,jdbcType=CHAR},
      </if>
      <if test="rankcateid != null" >
        rankcateid = #{rankcateid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="likescore != null" >
        likescore = #{likescore,jdbcType=INTEGER},
      </if>
      <if test="flowerscore != null" >
        flowerscore = #{flowerscore,jdbcType=INTEGER},
      </if>
      <if test="diamondscore != null" >
        diamondscore = #{diamondscore,jdbcType=INTEGER},
      </if>
      <if test="codeword != null" >
        codeword = #{codeword,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        ptype = #{ptype,jdbcType=CHAR},
      </if>
      <if test="companyname != null" >
        companyname = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companyphotos != null" >
        companyphotos = #{companyphotos,jdbcType=VARCHAR},
      </if>
      <if test="companybrief != null" >
        companybrief = #{companybrief,jdbcType=VARCHAR},
      </if>
      <if test="sourcetype != null" >
        sourcetype = #{sourcetype,jdbcType=CHAR},
      </if>
      <if test="joinlastday != null" >
        joinlastday = #{joinlastday},
      </if>
      <if test="maximprovenum != null" >
        maximprovenum = #{maximprovenum},
      </if>
      <if test="minimprovenum != null" >
        minimprovenum = #{minimprovenum},
      </if>
      <if test="ischeck != null" >
        ischeck = #{ischeck},
      </if>
      <if test="isgroup != null" >
        isgroup = #{isgroup},
      </if>
      <if test="rankcardid != null" >
        rankcardid = #{rankcardid},
      </if>
      <if test="isup != null" >
        isup = #{isup},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel},
      </if>
      <if test="rankrule != null" >
        rankrule = #{rankrule},
      </if>
      <if test="autotime != null" >
        autotime = #{autotime},
      </if>
      <if test="maxtotalimprovenum != null" >
        maxtotalimprovenum = #{maxtotalimprovenum},
      </if>
    </set>
    where rankid = #{rankid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.Rank" >
    update rank
    set ranktitle = #{ranktitle,jdbcType=VARCHAR},
      rankbrief = #{rankbrief,jdbcType=VARCHAR},
      rankdetail = #{rankdetail,jdbcType=VARCHAR},
      ranklimite = #{ranklimite,jdbcType=INTEGER},
      rankinvolved = #{rankinvolved,jdbcType=INTEGER},
      rankscope = #{rankscope,jdbcType=INTEGER},
      rankphotos = #{rankphotos,jdbcType=VARCHAR},
      rankrate = #{rankrate,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      areaname = #{areaname,jdbcType=VARCHAR},
      coordinate = #{coordinate,jdbcType=VARCHAR},
      isfinish = #{isfinish,jdbcType=CHAR},
      createuserid = #{createuserid,jdbcType=BIGINT},
      ranktype = #{ranktype,jdbcType=CHAR},
      ispublic = #{ispublic,jdbcType=CHAR},
      rankcateid = #{rankcateid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      likescore = #{likescore,jdbcType=INTEGER},
      flowerscore = #{flowerscore,jdbcType=INTEGER},
      diamondscore = #{diamondscore,jdbcType=INTEGER},
      codeword = #{codeword,jdbcType=VARCHAR},
      ptype = #{ptype,jdbcType=CHAR},
      autotime = #{autotime,jdbcType=TIMESTAMP},
      maxtotalimprovenum = #{maxtotalimprovenum,jdbcType=VARCHAR}
    where rankid = #{rankid,jdbcType=INTEGER}
  </update>
  <update id="updateSponsornumAndSponsormoney" >
    UPDATE rank
    set
    sponsornum = (SELECT COUNT(userid) from user_sponsor),
    sponsormoney = (SELECT SUM(number) from user_sponsor) WHERE rankid = #{rankid,jdbcType=BIGINT}
  </update>
  <update id="updateSymbolByRankId" parameterType="com.longbei.appservice.entity.Rank" >
    update rank
    <set >
      <if test="isfinish != null" >
        isfinish = #{isfinish,jdbcType=CHAR},
      </if>
      <if test="ispublic != null" >
        ispublic = #{ispublic,jdbcType=CHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel},
      </if>
      <if test="isrecommend != null" >
        isrecommend = #{isrecommend},
      </if>
      <if test="ishomerecommend != null" >
        ishomerecommend = #{ishomerecommend},
      </if>
      <if test="weight != null" >
        weight = #{weight},
      </if>
      <if test="needConfirm != null" >
        needConfirm = #{needConfirm},
      </if>
      <if test="notice != null" >
        notice = #{notice},
      </if>
      <if test="autotime != null" >
        autotime = #{autotime},
      </if>
      <if test="maxtotalimprovenum != null" >
        maxtotalimprovenum = #{maxtotalimprovenum},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime},
      </if>
    </set>
    where rankid = #{rankid,jdbcType=BIGINT}
  </update>

  <!-- 更改榜中的参榜人数 -->
  <update id="updateRankMemberCount">
      update rank
      set rankinvolved = rankinvolved + #{count,jdbcType=INTEGER}
      where
        <if test="count &lt; 0">
          rankinvolved > 0 AND
        </if>
        rankid = #{rankId,jdbcType=BIGINT}
  </update>

  <!-- 查询榜单列表 -->
  <select id="selectRankList" parameterType="map" resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List" />
      FROM rank
      WHERE 1=1
        <if test="ranktitle != null and ranktitle != ''" >
          AND ranktitle LIKE concat(concat('%',#{ranktitle}),'%')
        </if>
        <if test="codeword != null and codeword != ''">
           and joincode = #{codeword}
        </if>
        <if test="rankbrief != null and rankbrief != ''" >
          AND rankbrief LIKE concat(concat('%',#{rankbrief}),'%')
        </if>
        <if test="sstatus != null and sstatus != 0 and sstatus != -1 and lastDate != null ">
          <if test="sstatus == 1">
             and starttime &lt; #{lastDate}
          </if>
          <if test="sstatus == 2">
              and starttime &gt; #{lastDate}
          </if>
          <if test="sstatus == 3">
              and endtime &lt; #{lastDate}
          </if>
        </if>
        <if test="minEndDate != null">
            and endtime &gt; #{minEndDate}
        </if>
        <if test="ptype != null and ptype != '-1'" >
          AND ptype = #{ptype}
        </if>
        <if test="starttime != null" >
          AND starttime &gt;= #{starttime}
        </if>
        <if test="estarttime != null" >
          AND starttime &lt; #{starttime}
        </if>
        <if test="rankscope != null" >
          AND rankscope = #{rankscope}
        </if>
        <if test="ispublic != null" >
          AND ispublic = #{ispublic}
        </if>
        <if test="isup != null" >
          AND isup = #{isup}
        </if>
        <if test="isdel != null" >
          AND isdel = #{isdel}
        </if>
        <if test="isfinish != null and isfinish != 2">
          and isfinish = #{isfinish}
        </if>
        <if test="isfinish != null and isfinish == 2">
          and isfinish > 1
        </if>
        <if test="sourcetype != null" >
          AND sourcetype = #{sourcetype}
        </if>
        <if test="createuserid != null" >
          AND createuserid = #{createuserid}
        </if>

        <if test="isrecommend != null">
            and isrecommend = #{isrecommend}
        </if>
        <if test="orderByType != null and orderByType == 'endtime'.toString()">
            order by endtime DESC,starttime
        </if>
        <if test="orderByType != null and orderByType == 'recommend'.toString()">
          order by weight DESC,starttime DESC
        </if>
        <if test="orderByType != null and orderByType == 'starttimeAsc'.toString()">
          order by starttime,createtime desc
        </if>
        <if test="orderByType != null and orderByType == 'starttimeDesc'.toString()">
          order by starttime DESC,createtime desc
        </if>
        <if test="orderByType == null or orderByType == ''.toString()">
          order by starttime DESC,createtime desc
        </if>
        <if test="startNum != null">
          limit #{startNum},#{pageSize}
        </if>
  </select>

  <!-- 查询榜单列表数量 -->
  <select id="selectRankListCount" parameterType="map" resultType="java.lang.Integer">
    SELECT
      count(1)
    FROM rank
    WHERE 1=1
    <if test="ranktitle != null and ranktitle != ''" >
      AND ranktitle LIKE concat(concat('%',#{ranktitle}),'%')
    </if>
    <if test="codeword != null and codeword != ''">
      and joincode = #{codeword}
    </if>
    <if test="rankbrief != null and rankbrief != ''" >
      AND rankbrief LIKE concat(concat('%',#{rankbrief}),'%')
    </if>
    <if test="sstatus != null and sstatus != 0 and lastDate != null">
      <if test="sstatus == 1">
        and starttime &lt; #{lastDate}
      </if>
      <if test="sstatus == 2">
        and starttime &gt; #{lastDate}
      </if>
      <if test="sstatus == 3">
        and endtime &lt; #{lastDate}
      </if>
    </if>
    <if test="minEndDate != null">
      and endtime &gt; #{minEndDate}
    </if>
    <if test="ptype != null and ptype != '-1'" >
      AND ptype = #{ptype}
    </if>
    <if test="starttime != null" >
      AND starttime &gt;= #{starttime}
    </if>
    <if test="estarttime != null" >
      AND starttime &lt; #{starttime}
    </if>
    <if test="rankscope != null" >
      AND rankscope = #{rankscope}
    </if>
    <if test="ispublic != null" >
      AND ispublic = #{ispublic}
    </if>
    <if test="isup != null" >
      AND isup = #{isup}
    </if>
    <if test="isdel != null" >
      AND isdel = #{isdel}
    </if>
    <if test="isfinish != null and isfinish == -1">
      and (isfinish = 0 or isfinish = 1)
    </if>
    <if test="isfinish != null and isfinish != 2 and isfinish != -1">
      and isfinish = #{isfinish}
    </if>
    <if test="isfinish != null and isfinish == 2">
      and isfinish > 1
    </if>
    <if test="sourcetype != null" >
      AND sourcetype = #{sourcetype}
    </if>
    <if test="createuserid != null" >
      AND createuserid = #{createuserid}
    </if>

    <if test="isrecommend != null">
      and isrecommend = #{isrecommend}
    </if>
  </select>


  <!-- 查看五分钟前刚刚开始的榜单 -->
  <select id="selectStartRank" parameterType="map" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from rank
    where
    starttime &lt;= #{currentDate}
    and isfinish = 0 and isdel = 0
  </select>

  <!-- 将已开始的活动置为已开始 -->
  <update id="handleStartRank" parameterType="map">
      update rank
      set isfinish = 1
      where starttime &gt; #{beforeDate}
          and starttime &lt;= #{currentDate}
          and isdel = 0
          and isfinish = 0
  </update>

  <!-- 查询榜单的所有地区 -->
  <select id="selectRankArea" resultType="Long">
      select distinct rankscope from rank where isdel = 0
  </select>

  <!-- 查看将要结束的榜单 -->
  <select id="selectWillEndRank" parameterType="map" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from rank
    where isdel = 0
      and endTime &lt;= #{currentTime}
      and isfinish = #{isfinish}
  </select>

  <select id="selectHasAwardRankList" resultMap="BaseResultMap">
    SELECT
      <include refid="RANK_Base_Column_List" />
    FROM rank r inner join rank_members rm on r.rankid = rm.rankid
    where rm.iswinning = 1
      and r.isdel = 0
      and rm.checkstatus = 3
      and r.ispublic = 0
      and r.isfinish = 5
    group by r.rankid
    order by r.endtime DESC
    limit #{startNum},#{pageSize}
  </select>

  <!-- 查询未发布的或者审核中的榜单 -->
  <select id="selectNoPublishRank" parameterType="map" resultType="Integer">
    select
      count(1)
    from rankimage
    where isdel = 0
	and ispublic = #{ispublic}
    and checkstatus = 1
    and isup = 0
	and createuserid = #{createuserid}
  </select>

</mapper>