<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.SnsGroupMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.SnsGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="BIGINT" />
    <result column="groupname" property="groupname" jdbcType="VARCHAR" />
    <result column="grouptype" property="grouptype" jdbcType="CHAR" />
    <result column="relateid" property="relateid" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="needconfirm" property="needconfirm" jdbcType="CHAR" />
    <result column="notice" property="notice" jdbcType="VARCHAR" />
    <result column="mainuserid" property="mainuserid" jdbcType="BIGINT" />
    <result column="maxnum" property="maxnum" jdbcType="INTEGER" />
    <result column="currentnum" property="currentnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, groupid, groupname, grouptype, relateid, createtime, updatetime,currentnum,maxnum,mainuserid,notice,needconfirm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sns_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sns_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.SnsGroup" >
    insert into sns_group (id, groupid, groupname, 
      grouptype, relateid, createtime, 
      updatetime,currentnum,maxnum,mainuserid,notice,needconfirm)
    values (#{id,jdbcType=INTEGER}, #{groupid,jdbcType=BIGINT}, #{groupname,jdbcType=VARCHAR}, 
      #{grouptype,jdbcType=CHAR}, #{relateid,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP},#{currentnum},#{maxnum},#{mainuserid},#{notice},#{needconfirm})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.SnsGroup" >
    insert into sns_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="groupname != null" >
        groupname,
      </if>
      <if test="grouptype != null" >
        grouptype,
      </if>
      <if test="relateid != null" >
        relateid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="needconfirm != null" >
        needconfirm,
      </if>
      <if test="notice != null" >
        notice,
      </if>
      <if test="mainuserid != null" >
        mainuserid,
      </if>
      <if test="maxnum != null" >
        maxnum,
      </if>
      <if test="currentnum != null" >
        currentnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=BIGINT},
      </if>
      <if test="groupname != null" >
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="grouptype != null" >
        #{grouptype,jdbcType=CHAR},
      </if>
      <if test="relateid != null" >
        #{relateid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="needconfirm != null" >
        #{needconfirm},
      </if>
      <if test="notice != null" >
        #{notice},
      </if>
      <if test="mainuserid != null" >
        #{mainuserid},
      </if>
      <if test="maxnum != null" >
        #{maxnum},
      </if>
      <if test="currentnum != null" >
        #{currentnum},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.SnsGroup" >
    update sns_group
    <set >
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=BIGINT},
      </if>
      <if test="groupname != null" >
        groupname = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="grouptype != null" >
        grouptype = #{grouptype,jdbcType=CHAR},
      </if>
      <if test="relateid != null" >
        relateid = #{relateid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="needconfirm != null" >
        needconfirm = #{needconfirm},
      </if>
      <if test="notice != null" >
        notice = #{notice},
      </if>
      <if test="mainuserid != null" >
        mainuserid = #{mainuserid},
      </if>
      <if test="maxnum != null" >
        maxnum = #{maxnum},
      </if>
      <if test="currentnum != null" >
        currentnum = #{currentnum},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.SnsGroup" >
    update sns_group
    set groupid = #{groupid,jdbcType=BIGINT},
      groupname = #{groupname,jdbcType=VARCHAR},
      grouptype = #{grouptype,jdbcType=CHAR},
      relateid = #{relateid,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      currentnum = #{currentnum},
      maxnum = #{maxnum},
      mainuserid = #{mainuserid},
      notice = #{notice},
      needconfirm = #{needconfirm}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 根据群组id和用户id 查询群组 -->
  <select id="selectByGroupIdAndMainUserId" parameterType="String" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from
      sns_group
    where
      groupid =#{groupId}
      <if test="userId != null">
         and mainuserid = #{userId}
      </if>
  </select>

  <!--更新群组名称-->
  <update id="updateGroupInfo" parameterType="String">
      update sns_group
      <set>
        <if test="groupName != null">
          groupname = #{groupName},
        </if>
        <if test="updateDate != null">
          updatetime = #{updateDate},
        </if>
        <if test="needConfirm != null">
          needconfirm = #{needConfirm},
        </if>
        <if test="notice != null">
          notice = #{notice}
        </if>
      </set>
      where groupId = #{groupId}
  </update>

  <!-- 更新群组 新增人数 -->
  <update id="updateGroupCurrentNum" parameterType="String">
      update sns_group set currentnum = currentnum + #{addNum} where groupid = #{groupId}
  </update>

  <!-- 删除群组 -->
  <delete id="deleteByGroupId" parameterType="String">
      delete from sns_group where groupid = #{groupid}
  </delete>

  <!-- 更新群组群主id -->
  <update id="updateGroupMainUser" parameterType="String">
      update sns_group set mainuserid=#{userId} where groupid = #{groupId}
  </update>

  <!-- 根据关键字搜索群 -->
  <select id="selectGroup" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List" />
      FROM sns_group
      where groupid like concat(#{keyword},'%')
      limit #{startNum},#{pageSize}
  </select>

</mapper>