<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.StatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.Statistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="registernum" property="registernum" jdbcType="INTEGER" />
    <result column="checknum" property="checknum" jdbcType="INTEGER" />
    <result column="likenum" property="likenum" jdbcType="INTEGER" />
    <result column="flowernum" property="flowernum" jdbcType="INTEGER" />
    <result column="improvenum" property="improvenum" jdbcType="INTEGER" />
    <result column="ranknum" property="ranknum" jdbcType="INTEGER" />
    <result column="goalnum" property="goalnum" jdbcType="INTEGER" />
    <result column="ordernum" property="ordernum" jdbcType="INTEGER" />
    <result column="moneynum" property="moneynum" jdbcType="INTEGER" />
    <result column="iconnum" property="iconnum" jdbcType="INTEGER" />
    <result column="moneyusenum" property="moneyusenum" jdbcType="INTEGER" />
    <result column="iconusenum" property="iconusenum" jdbcType="INTEGER" />
    <result column="awardpeoplenum" property="awardpeoplenum" jdbcType="INTEGER" />
    <result column="awardpricenum" property="awardpricenum" jdbcType="DOUBLE" />
    <result column="createtime" property="createtime" jdbcType="DATE" />
    <result column="updatetime" property="updatetime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, registernum, checknum, likenum, flowernum, improvenum, ranknum, goalnum, ordernum, 
    moneynum, iconnum, moneyusenum, iconusenum, awardpeoplenum, awardpricenum, createtime, 
    updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listByStartDate" resultMap="BaseResultMap" parameterType="com.longbei.appservice.entity.Statistics">
    select
    <include refid="Base_Column_List" />
    from sys_statistics
    where  1=1
    <if test="createtime != null" >
    AND createtime >= #{createtime,jdbcType=DATE}
  </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.Statistics" >
    insert into sys_statistics (id, registernum, checknum, 
      likenum, flowernum, improvenum, 
      ranknum, goalnum, ordernum, 
      moneynum, iconnum, moneyusenum, 
      iconusenum, awardpeoplenum, awardpricenum, 
      createtime, updatetime)
    values (#{id,jdbcType=INTEGER}, #{registernum,jdbcType=INTEGER}, #{checknum,jdbcType=INTEGER}, 
      #{likenum,jdbcType=INTEGER}, #{flowernum,jdbcType=INTEGER}, #{improvenum,jdbcType=INTEGER}, 
      #{ranknum,jdbcType=INTEGER}, #{goalnum,jdbcType=INTEGER}, #{ordernum,jdbcType=INTEGER}, 
      #{moneynum,jdbcType=INTEGER}, #{iconnum,jdbcType=INTEGER}, #{moneyusenum,jdbcType=INTEGER}, 
      #{iconusenum,jdbcType=INTEGER}, #{awardpeoplenum,jdbcType=INTEGER}, #{awardpricenum,jdbcType=DOUBLE}, 
      #{createtime,jdbcType=DATE}, #{updatetime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.Statistics" >
    insert into sys_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="registernum != null" >
        registernum,
      </if>
      <if test="checknum != null" >
        checknum,
      </if>
      <if test="likenum != null" >
        likenum,
      </if>
      <if test="flowernum != null" >
        flowernum,
      </if>
      <if test="improvenum != null" >
        improvenum,
      </if>
      <if test="ranknum != null" >
        ranknum,
      </if>
      <if test="goalnum != null" >
        goalnum,
      </if>
      <if test="ordernum != null" >
        ordernum,
      </if>
      <if test="moneynum != null" >
        moneynum,
      </if>
      <if test="iconnum != null" >
        iconnum,
      </if>
      <if test="moneyusenum != null" >
        moneyusenum,
      </if>
      <if test="iconusenum != null" >
        iconusenum,
      </if>
      <if test="awardpeoplenum != null" >
        awardpeoplenum,
      </if>
      <if test="awardpricenum != null" >
        awardpricenum,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="registernum != null" >
        #{registernum,jdbcType=INTEGER},
      </if>
      <if test="checknum != null" >
        #{checknum,jdbcType=INTEGER},
      </if>
      <if test="likenum != null" >
        #{likenum,jdbcType=INTEGER},
      </if>
      <if test="flowernum != null" >
        #{flowernum,jdbcType=INTEGER},
      </if>
      <if test="improvenum != null" >
        #{improvenum,jdbcType=INTEGER},
      </if>
      <if test="ranknum != null" >
        #{ranknum,jdbcType=INTEGER},
      </if>
      <if test="goalnum != null" >
        #{goalnum,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="moneynum != null" >
        #{moneynum,jdbcType=INTEGER},
      </if>
      <if test="iconnum != null" >
        #{iconnum,jdbcType=INTEGER},
      </if>
      <if test="moneyusenum != null" >
        #{moneyusenum,jdbcType=INTEGER},
      </if>
      <if test="iconusenum != null" >
        #{iconusenum,jdbcType=INTEGER},
      </if>
      <if test="awardpeoplenum != null" >
        #{awardpeoplenum,jdbcType=INTEGER},
      </if>
      <if test="awardpricenum != null" >
        #{awardpricenum,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.Statistics" >
    update sys_statistics
    <set >
      <if test="registernum != null" >
        registernum = #{registernum,jdbcType=INTEGER},
      </if>
      <if test="checknum != null" >
        checknum = #{checknum,jdbcType=INTEGER},
      </if>
      <if test="likenum != null" >
        likenum = #{likenum,jdbcType=INTEGER},
      </if>
      <if test="flowernum != null" >
        flowernum = #{flowernum,jdbcType=INTEGER},
      </if>
      <if test="improvenum != null" >
        improvenum = #{improvenum,jdbcType=INTEGER},
      </if>
      <if test="ranknum != null" >
        ranknum = #{ranknum,jdbcType=INTEGER},
      </if>
      <if test="goalnum != null" >
        goalnum = #{goalnum,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null" >
        ordernum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="moneynum != null" >
        moneynum = #{moneynum,jdbcType=INTEGER},
      </if>
      <if test="iconnum != null" >
        iconnum = #{iconnum,jdbcType=INTEGER},
      </if>
      <if test="moneyusenum != null" >
        moneyusenum = #{moneyusenum,jdbcType=INTEGER},
      </if>
      <if test="iconusenum != null" >
        iconusenum = #{iconusenum,jdbcType=INTEGER},
      </if>
      <if test="awardpeoplenum != null" >
        awardpeoplenum = #{awardpeoplenum,jdbcType=INTEGER},
      </if>
      <if test="awardpricenum != null" >
        awardpricenum = #{awardpricenum,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=DATE},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.Statistics" >
    update sys_statistics
    set registernum = #{registernum,jdbcType=INTEGER},
      checknum = #{checknum,jdbcType=INTEGER},
      likenum = #{likenum,jdbcType=INTEGER},
      flowernum = #{flowernum,jdbcType=INTEGER},
      improvenum = #{improvenum,jdbcType=INTEGER},
      ranknum = #{ranknum,jdbcType=INTEGER},
      goalnum = #{goalnum,jdbcType=INTEGER},
      ordernum = #{ordernum,jdbcType=INTEGER},
      moneynum = #{moneynum,jdbcType=INTEGER},
      iconnum = #{iconnum,jdbcType=INTEGER},
      moneyusenum = #{moneyusenum,jdbcType=INTEGER},
      iconusenum = #{iconusenum,jdbcType=INTEGER},
      awardpeoplenum = #{awardpeoplenum,jdbcType=INTEGER},
      awardpricenum = #{awardpricenum,jdbcType=DOUBLE},
      createtime = #{createtime,jdbcType=DATE},
      updatetime = #{updatetime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="sumByField" resultType="java.lang.Integer" >
    select sum(${field}) from sys_statistics
  </select>
</mapper>