<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.SuperTopicMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.SuperTopic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="photos" property="photos" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="CHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="ishot" property="ishot" jdbcType="CHAR" />
    <result column="uptime" property="uptime" jdbcType="TIMESTAMP" />
    <result column="downtime" property="downtime" jdbcType="TIMESTAMP" />
    <result column="topicid" property="topicid" jdbcType="BIGINT" />
    <result column="impcount" property="impcount" jdbcType="INTEGER" />
    <result column="scancount" property="scancount" jdbcType="INTEGER" />
    <result column="isup" property="isup" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, photos, title, content, isdel, createtime, updatetime, sort, ishot, uptime, downtime ,topicid, impcount, scancount, isup
  </sql>
  <select id="selectList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM super_topic
    where isdel = '0'
    limit #{startNum},#{endNum}
  </select>
  <select id="selectSuperTopicList"  parameterType="com.longbei.appservice.entity.SuperTopic" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from super_topic
    where isdel = '0'
    <if test="superTopic.topicid != null and superTopic.topicid != ''" >
      AND topicid = #{superTopic.topicid}
    </if>
    <if test="superTopic.title != null and superTopic.title != ''" >
      AND title LIKE concat(concat('%',#{superTopic.title}),'%')
    </if>
    <if test="superTopic.ishot != null and superTopic.ishot != ''" >
      AND ishot = #{superTopic.ishot}
    </if>
    <if test="superTopic.isup != null and superTopic.isup != ''" >
      AND isup = #{superTopic.isup}
    </if>
    ORDER BY  sort, createtime DESC
    <if test="startNum != null" >
      limit #{startNum},#{pageSize}
    </if>
  </select>
  <select id="selectSuperTopicListCount"  parameterType="com.longbei.appservice.entity.SuperTopic" resultType="java.lang.Integer" >
    select
    count(*)
    from super_topic
    where isdel = '0'
    <if test="superTopic.topicid != null and superTopic.topicid != ''" >
      AND topicid = #{superTopic.topicid}
    </if>
    <if test="superTopic.ishot != null and superTopic.ishot != ''" >
      AND ishot = #{superTopic.ishot}
    </if>
    <if test="superTopic.isup != null and superTopic.isup != ''" >
      AND isup = #{superTopic.isup}
    </if>
    <if test="superTopic.title != null and superTopic.title != ''" >
      AND title LIKE concat(concat('%',#{superTopic.title}),'%')
    </if>
  </select>
  <select id="selectSuperTopicByTopicId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from super_topic
    where topicid = #{topicId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.longbei.appservice.entity.SuperTopic" >
    insert into super_topic (photos, title,
      content, isdel, createtime, 
      updatetime, sort,ishot, uptime, downtime ,topicid, impcount, scancount, isup)
    values (#{photos,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{isdel,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{sort,jdbcType=INTEGER},
    #{ishot,jdbcType=CHAR},#{uptime,jdbcType=TIMESTAMP},#{downtime,jdbcType=TIMESTAMP},
    #{topicid,jdbcType=BIGINT},#{impcount,jdbcType=INTEGER},#{scancount,jdbcType=INTEGER},#{isup,jdbcType=CHAR})
  </insert>
  <insert id="insertSuperTopic" parameterType="com.longbei.appservice.entity.SuperTopic" >
    insert into super_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="photos != null" >
        photos,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="ishot != null" >
        ishot,
      </if>
      <if test="uptime != null" >
        uptime,
      </if>
      <if test="downtime  != null" >
        downtime ,
      </if>
      <if test="topicid != null" >
        topicid,
      </if>
      <if test="impcount != null" >
        impcount,
      </if>
      <if test="scancount != null" >
        scancount,
      </if>
      <if test="isup != null" >
        isup,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="photos != null" >
        #{photos,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="ishot != null" >
        #{ishot,jdbcType=CHAR},
      </if>
      <if test="uptime != null" >
        #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="downtime != null" >
        #{downtime,jdbcType=TIMESTAMP},
      </if>
      <if test="topicid != null" >
        #{topicid,jdbcType=BIGINT},
      </if>
      <if test="impcount  != null" >
        #{impcount,jdbcType=INTEGER},
      </if>
      <if test="scancount != null" >
        #{scancount,jdbcType=INTEGER},
      </if>
      <if test="isup != null" >
        #{isup,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSuperTopicByTopicId" parameterType="com.longbei.appservice.entity.SuperTopic" >
    update super_topic
    <set >
      <if test="photos != null" >
        photos = #{photos,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="ishot != null" >
        ishot = #{ishot,jdbcType=CHAR},
      </if>
      <if test="uptime != null" >
        uptime = #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="downtime != null" >
        downtime = #{downtime,jdbcType=TIMESTAMP},
      </if>
      <if test="impcount != null" >
        impcount = #{impcount,jdbcType=INTEGER},
      </if>
      <if test="scancount != null" >
        scancount = #{scancount,jdbcType=INTEGER},
      </if>
      <if test="isup != null" >
        isup = #{isup,jdbcType=CHAR},
      </if>
    </set>
    where topicid = #{topicid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.SuperTopic" >
    update super_topic
    set photos = #{photos,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=CHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      sort = #{sort,jdbcType=INTEGER},
      ishot = #{ishot,jdbcType=CHAR},
      uptime = #{uptime,jdbcType=TIMESTAMP},
      downtime = #{downtime,jdbcType=TIMESTAMP},
      impcount = #{impcount,jdbcType=INTEGER},
      scancount = #{scancount,jdbcType=INTEGER},
      isup = #{isup,jdbcType=CHAR}
    where topicid = #{topicid,jdbcType=BIGINT}
  </update>
  <update id="updateImpcount">
    UPDATE super_topic SET
    impcount = impcount + #{num}
    where topicid = #{topicId}
  </update>
  <update id="updateScancount">
    UPDATE super_topic SET
    scancount = scancount +1
    where topicid = #{topicId}
  </update>
  <update id="removeSuperTopicByTopicId" parameterType="java.lang.Long" >
    update super_topic
    set
    isdel = '1'
    where topicid = #{topicId,jdbcType=BIGINT}
  </update>
</mapper>