<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.SysMedalMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.SysMedal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="medalname" property="medalname" jdbcType="VARCHAR" />
    <result column="medalphotos" property="medalphotos" jdbcType="VARCHAR" />
    <result column="medalbrief" property="medalbrief" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, medalname, medalphotos, medalbrief, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_medal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_medal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.SysMedal" >
    insert into sys_medal (id, medalname, medalphotos, 
      medalbrief, createtime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{medalname,jdbcType=VARCHAR}, #{medalphotos,jdbcType=VARCHAR}, 
      #{medalbrief,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.SysMedal" >
    insert into sys_medal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="medalname != null" >
        medalname,
      </if>
      <if test="medalphotos != null" >
        medalphotos,
      </if>
      <if test="medalbrief != null" >
        medalbrief,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="medalname != null" >
        #{medalname,jdbcType=VARCHAR},
      </if>
      <if test="medalphotos != null" >
        #{medalphotos,jdbcType=VARCHAR},
      </if>
      <if test="medalbrief != null" >
        #{medalbrief,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.SysMedal" >
    update sys_medal
    <set >
      <if test="medalname != null" >
        medalname = #{medalname,jdbcType=VARCHAR},
      </if>
      <if test="medalphotos != null" >
        medalphotos = #{medalphotos,jdbcType=VARCHAR},
      </if>
      <if test="medalbrief != null" >
        medalbrief = #{medalbrief,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.SysMedal" >
    update sys_medal
    set medalname = #{medalname,jdbcType=VARCHAR},
      medalphotos = #{medalphotos,jdbcType=VARCHAR},
      medalbrief = #{medalbrief,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>