<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.SysNicknamesMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.SysNicknames" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getRankNicknames" resultMap="BaseResultMap" >

    SELECT
      nickname
    FROM
        sys_nicknames AS t1
            JOIN
        (SELECT
            ROUND(RAND() * ((SELECT
                        MAX(id)
                    FROM
                        sys_nicknames) - (SELECT
                        MIN(id)
                    FROM
                        sys_nicknames)) + (SELECT
                        MIN(id)
                    FROM
                        sys_nicknames)) AS id
        ) AS t2
    WHERE
        t1.id >= t2.id
    ORDER BY t1.id
    LIMIT 1
  </select>
</mapper>