<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.SysProtectnamesMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.SysProtectnames" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.longbei.appservice.entity.SysProtectnames" extends="BaseResultMap" >
    <result column="nicknames" property="nicknames" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createtime, updatetime
  </sql>
  <sql id="Blob_Column_List" >
    nicknames
  </sql>
  <select id="selectProtectnames" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_protectnames
    limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_protectnames
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.SysProtectnames" >
    insert into sys_protectnames (createtime)
    values (#{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.SysProtectnames" >
    insert into sys_protectnames
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="nicknames != null" >
        nicknames,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="nicknames != null" >
        #{nicknames,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateProtectNames" parameterType="com.longbei.appservice.entity.SysProtectnames" >
    update sys_protectnames
    <set>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="nicknames != null" >
        nicknames = #{nicknames,jdbcType=LONGVARCHAR},
      </if>
    </set>

  </update>

  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.SysProtectnames" >
    update sys_protectnames
    set createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>