<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.SysPerfectInfoMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.SysPerfectInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="photos" property="photos" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="ptype" property="ptype" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, photos, title, brief, createtime, updatetime, ptype
  </sql>
  <select id="selectPerfectInfoByPtype" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_perfect_info
    where ptype = #{ptype,jdbcType=CHAR}
  </select>
  <select id="selectPerfectPhotoByPtype" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_perfect_info
    where ptype = #{ptype,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_perfect_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.SysPerfectInfo" >
    insert into sys_perfect_info (id, name, photos, 
      title, brief, createtime, 
      updatetime, ptype)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{photos,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{ptype,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.SysPerfectInfo" >
    insert into sys_perfect_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="photos != null" >
        photos,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="brief != null" >
        brief,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="ptype != null" >
        ptype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="photos != null" >
        #{photos,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ptype != null" >
        #{ptype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.SysPerfectInfo" >
    update sys_perfect_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="photos != null" >
        photos = #{photos,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ptype != null" >
        ptype = #{ptype,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.SysPerfectInfo" >
    update sys_perfect_info
    set name = #{name,jdbcType=VARCHAR},
      photos = #{photos,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      ptype = #{ptype,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>