<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.SysSensitiveMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.SysSensitive" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="words" property="words"/>
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, words,updatetime
  </sql>
  <select id="selectSensitive" resultMap="BaseResultMap">
    select 
    id,words,updatetime
    FROM
    sys_sensitive limit 1
  </select>

  <update id="updateSensitiveWords" parameterType="com.longbei.appservice.entity.SysSensitive" >
    update sys_sensitive
    <set >
       words = #{words,jdbcType=VARCHAR},
      <if test="updatetime != null" >
        updatetime = #{updatetime},
      </if>
    </set>
  </update>
</mapper>