<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.UserPointDetailMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.UserPointDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="drawdate" property="drawdate" jdbcType="TIMESTAMP" />
    <result column="ptype" property="ptype" jdbcType="CHAR" />
    <result column="pointtype" property="pointtype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, point, drawdate, ptype, pointtype
  </sql>
  <select id="selectPointListByUseridAndPtype" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM user_point_detail
    where userid=#{userid} and ptype=#{ptype}  order by drawdate desc limit #{startNum},#{pageSize}

  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_point_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_point_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.UserPointDetail" >
    insert into user_point_detail (id, userid,
      point, drawdate, ptype,pointtype
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT},
      #{point,jdbcType=INTEGER}, #{drawdate,jdbcType=TIMESTAMP}, #{ptype},#{pointtype}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.UserPointDetail" >
    insert into user_point_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="drawdate != null" >
        drawdate,
      </if>
      <if test="ptype != null" >
        ptype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="drawdate != null" >
        #{drawdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ptype != null" >
        #{ptype},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.UserPointDetail" >
    update user_point_detail
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="drawdate != null" >
        drawdate = #{drawdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ptype != null" >
        ptype = #{ptype},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.UserPointDetail" >
    update user_point_detail
    set id = #{id,jdbcType=BIGINT},
      userid = #{userid,jdbcType=BIGINT},
      point = #{point,jdbcType=INTEGER},
      drawdate = #{drawdate,jdbcType=TIMESTAMP},
      ptype = #{ptype}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>