<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.UserInterestsMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.UserInterests" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="ptype" property="ptype" jdbcType="VARCHAR" />
    <result column="perfectname" property="perfectname" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,userid,ptype,perfectname,createtime,updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_interests
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectInterests" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from user_interests 
    where userid = #{userid}
  </select>
  
  <delete id="deleteInterests" >
    delete from user_interests
    where id = #{id,jdbcType=INTEGER} and userid = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.UserInterests" >
    insert into user_interests (id, userid,
      createtime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateInterests" parameterType="com.longbei.appservice.entity.UserInterests" >
    update user_interests
    <set >
        ptype = #{ptype,jdbcType=VARCHAR},
        updatetime = #{updatetime,jdbcType=TIMESTAMP}
    </set>
    where userid = #{userid}
  </update>

</mapper>