<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.UserPlDetailMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.UserPlDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="leve" property="leve" jdbcType="INTEGER" />
    <result column="ptype" property="ptype" jdbcType="CHAR" />
    <result column="perfectname" property="perfectname" jdbcType="VARCHAR" />
    <result column="toplevel" property="toplevel" jdbcType="CHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="scorce" property="scorce" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column" >
    id, userid, leve, ptype, perfectname, toplevel, createtime, updatetime, scorce
  </sql>
  <select id="selectUserPlDetailById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column" />
    from user_pl_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserIdAndType" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column" />
    FROM user_pl_detail
    where userid=#{userid} and ptype=#{ptype} ORDER BY leve desc limit 0,1
  </select>
  <select id="selectUserPerfectListByUserId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column" />
    FROM user_pl_detail
    where userid=#{userid} and toplevel=1 GROUP BY ptype limit #{startNum},#{pageSize}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_pl_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.UserPlDetail" >
    insert into user_pl_detail (id, userid, leve, 
      ptype, perfectname, createtime, 
      updatetime, scorce)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, #{leve,jdbcType=INTEGER}, 
      #{ptype,jdbcType=CHAR}, #{perfectname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{scorce,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.UserPlDetail" >
    insert into user_pl_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="leve != null" >
        leve,
      </if>
      <if test="ptype != null" >
        ptype,
      </if>
      <if test="perfectname != null" >
        perfectname,
      </if>
      <if test="toplevel != null" >
        toplevel,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="scorce != null" >
        scorce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="leve != null" >
        #{leve,jdbcType=INTEGER},
      </if>
      <if test="ptype != null" >
        #{ptype,jdbcType=CHAR},
      </if>
      <if test="perfectname != null" >
        #{perfectname,jdbcType=VARCHAR},
      </if>
      <if test="toplevel != null" >
        #{toplevel,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="scorce != null" >
        #{scorce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateScorce" parameterType="com.longbei.appservice.entity.UserPlDetail">
  UPDATE user_pl_detail
  <set >
    <if test="scorce != null" >
      scorce = scorce + #{scorce,jdbcType=VARCHAR},
    </if>
    <if test="toplevel != null" >
      toplevel = #{toplevel,jdbcType=CHAR},
    </if>
    <if test="updatetime != null" >
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
    </if>
  </set>
  where userid = #{userid,jdbcType=BIGINT} and ptype=#{ptype,jdbcType=CHAR} and leve=#{leve,jdbcType=INTEGER}
</update>
  <update id="updateUserPLDetailToplevel" parameterType="com.longbei.appservice.entity.UserPlDetail">
    UPDATE user_pl_detail
    <set >
      <if test="toplevel != null" >
        toplevel = #{toplevel,jdbcType=CHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=BIGINT} and ptype=#{ptype,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.UserPlDetail" >
    update user_pl_detail
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="leve != null" >
        leve = #{leve,jdbcType=INTEGER},
      </if>
      <if test="ptype != null" >
        ptype = #{ptype,jdbcType=CHAR},
      </if>
      <if test="perfectname != null" >
        perfectname = #{perfectname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="scorce != null" >
        scorce = #{scorce,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.UserPlDetail" >
    update user_pl_detail
    set userid = #{userid,jdbcType=BIGINT},
      leve = #{leve,jdbcType=INTEGER},
      ptype = #{ptype,jdbcType=CHAR},
      perfectname = #{perfectname,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      scorce = #{scorce,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>