<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.UserGoalMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.UserGoal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="goaltag" property="goaltag" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="isdel" property="isdel" jdbcType="CHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="ispublic" property="ispublic" jdbcType="CHAR"/>
    <result column="ptype" property="ptype" jdbcType="CHAR"/>
    <result column="needwarn" property="needwarn" jdbcType="CHAR"/>
    <result column="warntime" property="warntime" jdbcType="VARCHAR"/>
    <result column="week" property="week" jdbcType="VARCHAR"/>

  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, goaltag, createtime, isdel, updatetime,ispublic,ptype,needwarn,warntime,week
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_goal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_goal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.UserGoal" >
    insert into user_goal
    ( <include refid="Base_Column_List"/>
      )
    values (#{id,jdbcType=INTEGER},
            #{userid,jdbcType=BIGINT},
            #{goaltag,jdbcType=VARCHAR},
            #{createtime,jdbcType=TIMESTAMP},
            #{isdel,jdbcType=CHAR},
            #{updatetime,jdbcType=TIMESTAMP},
            #{ispublic,jdbcType=CHAR},
            #{ptype,jdbcType=CHAR},
            #{needwarn,jdbcType=VARCHAR},
            #{warntime,jdbcType=VARCHAR},
            #{week,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.UserGoal" >
    insert into user_goal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="goaltag != null" >
        goaltag,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="goaltag != null" >
        #{goaltag,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=CHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.UserGoal" >
    update user_goal
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="goaltag != null" >
        goaltag = #{goaltag,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=CHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.UserGoal" >
    update user_goal
    set userid = #{userid,jdbcType=BIGINT},
      goaltag = #{goaltag,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      isdel = #{isdel,jdbcType=CHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>