<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.UserLevelMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.UserLevel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="grade" property="grade" />
    <result column="star" property="star" jdbcType="CHAR" />
    <result column="diff" property="diff" jdbcType="INTEGER" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
    <result column="pubrankjoinnum" property="pubrankjoinnum" jdbcType="INTEGER" />
    <result column="pubranknum" property="pubranknum" jdbcType="INTEGER" />
    <result column="circlenum" property="circlenum" jdbcType="INTEGER" />
    <result column="prirankjoinnum" property="prirankjoinnum" jdbcType="INTEGER" />
    <result column="priranknum" property="priranknum" jdbcType="INTEGER" />
    <result column="classroomnum" property="classroomnum" jdbcType="INTEGER" />
    <result column="joinranknum" property="joinranknum" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="likes" property="likes" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, grade, star, diff, point, discount,pubrankjoinnum,
    pubranknum,circlenum,prirankjoinnum,priranknum,classroomnum,joinranknum,likes,updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_level
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByGrade" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from user_level
    where grade = #{grade}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_level
    where 1=1
    order by grade
    <if test="startNum != null">
      limit #{startNum},#{pageSize}
    </if>
  </select>
  <select id="selectUserLevelListCount" resultType="java.lang.Integer">
    select count(1)
    from user_level
    where 1=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_level
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.UserLevel" >
    insert into user_level (id, grade, star, diff, 
      point, discount)
    values (#{id,jdbcType=BIGINT}, #{grade,jdbcType=CHAR}, #{star,jdbcType=CHAR}, #{diff,jdbcType=INTEGER}, 
      #{point,jdbcType=INTEGER}, #{discount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.UserLevel" >
    insert into user_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="diff != null" >
        diff,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="discount != null" >
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=CHAR},
      </if>
      <if test="star != null" >
        #{star,jdbcType=CHAR},
      </if>
      <if test="diff != null" >
        #{diff,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <insert id="insertBatchLevelRules" parameterType="java.util.List">
    insert into user_level
    (id,grade, star, diff, point, discount,pubrankjoinnum,
    pubranknum,circlenum,prirankjoinnum,priranknum,classroomnum,joinranknum,likes)
    values
    <foreach collection="list" item="level" index="index" separator="," >
      (#{level.id},#{level.grade},#{level.star},#{level.diff},#{level.point},
      #{level.discount},#{level.pubrankjoinnum},#{level.pubranknum},#{level.circlenum},
      #{level.prirankjoinnum},#{level.priranknum},#{level.classroomnum},#{level.joinranknum},
      #{level.likes})
    </foreach>
  </insert>
  <delete id="deleteLevelRules">
    DELETE FROM user_level;
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.UserLevel" >
    update user_level
    <set >
      <if test="grade != null" >
        grade = #{grade,jdbcType=CHAR},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=CHAR},
      </if>
      <if test="diff != null" >
        diff = #{diff,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.UserLevel" >
    update user_level
    set grade = #{grade,jdbcType=CHAR},
      star = #{star,jdbcType=CHAR},
      diff = #{diff,jdbcType=INTEGER},
      point = #{point,jdbcType=INTEGER},
      discount = #{discount,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>