<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.UserPointDetailMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.UserPointDetail" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="drawdate" property="drawdate" jdbcType="TIMESTAMP" />
    <result column="perfectid" property="perfectid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, id, userid, point, drawdate, perfectid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_point_detail
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_point_detail
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.UserPointDetail" >
    insert into user_point_detail (pid, id, userid, 
      point, drawdate, perfectid
      )
    values (#{pid,jdbcType=INTEGER}, #{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, 
      #{point,jdbcType=INTEGER}, #{drawdate,jdbcType=TIMESTAMP}, #{perfectid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.UserPointDetail" >
    insert into user_point_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="drawdate != null" >
        drawdate,
      </if>
      <if test="perfectid != null" >
        perfectid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="drawdate != null" >
        #{drawdate,jdbcType=TIMESTAMP},
      </if>
      <if test="perfectid != null" >
        #{perfectid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.UserPointDetail" >
    update user_point_detail
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="drawdate != null" >
        drawdate = #{drawdate,jdbcType=TIMESTAMP},
      </if>
      <if test="perfectid != null" >
        perfectid = #{perfectid,jdbcType=BIGINT},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.UserPointDetail" >
    update user_point_detail
    set id = #{id,jdbcType=BIGINT},
      userid = #{userid,jdbcType=BIGINT},
      point = #{point,jdbcType=INTEGER},
      drawdate = #{drawdate,jdbcType=TIMESTAMP},
      perfectid = #{perfectid,jdbcType=BIGINT}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>