<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.UserInComeDetailMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.UserInComeDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="itype" property="itype" jdbcType="CHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="businesstype" property="businesstype" jdbcType="CHAR" />
    <result column="businesstid" property="businesstid" jdbcType="BIGINT" />
    <result column="btitle" property="btitle" jdbcType="VARCHAR" />
    <result column="originuserid" property="originuserid" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="remarker" property="remarker" jdbcType="VARCHAR" />
    <result column="detailid" property="detailid" jdbcType="BIGINT" />
    <result column="detailtype" property="detailtype" jdbcType="CHAR" />
    <result column="csourcetype" property="csourcetype" jdbcType="CHAR" />
    <result column="detailstatus" property="detailstatus" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="userInComeDetailAndOrder" type="com.longbei.appservice.entity.UserInComeDetail">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="itype" property="itype" jdbcType="CHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="businesstype" property="businesstype" jdbcType="CHAR" />
    <result column="businesstid" property="businesstid" jdbcType="BIGINT" />
    <result column="btitle" property="btitle" jdbcType="VARCHAR" />
    <result column="originuserid" property="originuserid" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="remarker" property="remarker" jdbcType="VARCHAR" />
    <result column="detailid" property="detailid" jdbcType="BIGINT" />
    <result column="detailtype" property="detailtype" jdbcType="CHAR" />
    <result column="csourcetype" property="csourcetype" jdbcType="CHAR" />
    <result column="detailstatus" property="detailstatus" jdbcType="CHAR" />
    <association property="userInComeOrder" javaType="com.longbei.appservice.entity.UserInComeOrder">
      <result property="receiptNum" column="receiptNum"/>
      <result property="receiptUser" column="receiptUser"/>
      <result property="receiptBank" column="receiptBank"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, itype, num, businesstype, businesstid, btitle, originuserid, createtime, 
    updatetime, remarker, detailid, detailtype, csourcetype,detailstatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_income_detail
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectUserInComeInDetail" resultMap="BaseResultMap">
    select * from user_income_detail where detailid = #{detailid}
  </select>

  <select id="selectUserInComeOutDetail" resultMap="userInComeDetailAndOrder">
    select u.*,o.receiptNum,o.receiptUser,o.receiptBank from user_income_detail u JOIN user_income_order o ON u.detailid = o.detailid
    WHERE u.detailid = #{detailid}
  </select>


  <select id="selectCount" resultType="java.lang.Integer">
     SELECT count(*) FROM user_income_detail
     WHERE detailtype = #{userincomedetail.detailtype}
     <if test="userincomedetail.itype != null">
       itype = #{userincomedetail.itype}
     </if>
    <if test="userincomedetail.detailstatus != null">
       detailstatus = #{userincomedetail.detailstatus}
    </if>
    <if test="userincomedetail.createtime != null">
      createtime &gt; #{userincomedetail.createtime}
    </if>
  </select>


  <select id="selectList" resultMap="BaseResultMap">
    SELECT count(*) FROM user_income_detail
    WHERE detailtype = #{userincomedetail.detailtype}
    <if test="userincomedetail.itype != null">
      itype = #{userincomedetail.itype}
    </if>
    <if test="userincomedetail.detailstatus != null">
      detailstatus = #{userincomedetail.detailstatus}
    </if>
    <if test="userincomedetail.createtime != null">
      createtime &gt; #{userincomedetail.createtime}
    </if>
    ORDER BY createtime DESC
    <if test="startNo != null">
      limit #{startNo},#{pageSize}
    </if>
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_income_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.UserInComeDetail" >
    insert into user_income_detail (id, userid, itype, 
      num, businesstype, businesstid, 
      btitle, originuserid, createtime, 
      updatetime, remarker, detailid, 
      detailtype, csourcetype)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, #{itype,jdbcType=CHAR}, 
      #{num,jdbcType=INTEGER}, #{businesstype,jdbcType=CHAR}, #{businesstid,jdbcType=BIGINT}, 
      #{btitle,jdbcType=VARCHAR}, #{originuserid,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{remarker,jdbcType=VARCHAR}, #{detailid,jdbcType=BIGINT}, 
      #{detailtype,jdbcType=CHAR}, #{csourcetype,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.UserInComeDetail" >
    insert into user_income_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="itype != null" >
        itype,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="businesstype != null" >
        businesstype,
      </if>
      <if test="businesstid != null" >
        businesstid,
      </if>
      <if test="btitle != null" >
        btitle,
      </if>
      <if test="originuserid != null" >
        originuserid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="remarker != null" >
        remarker,
      </if>
      <if test="detailid != null" >
        detailid,
      </if>
      <if test="detailtype != null" >
        detailtype,
      </if>
      <if test="csourcetype != null" >
        csourcetype,
      </if>
      <if test="detailstatus != null" >
        detailstatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="itype != null" >
        #{itype,jdbcType=CHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="businesstype != null" >
        #{businesstype,jdbcType=CHAR},
      </if>
      <if test="businesstid != null" >
        #{businesstid,jdbcType=BIGINT},
      </if>
      <if test="btitle != null" >
        #{btitle,jdbcType=VARCHAR},
      </if>
      <if test="originuserid != null" >
        #{originuserid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarker != null" >
        #{remarker,jdbcType=VARCHAR},
      </if>
      <if test="detailid != null" >
        #{detailid,jdbcType=BIGINT},
      </if>
      <if test="detailtype != null" >
        #{detailtype,jdbcType=CHAR},
      </if>
      <if test="csourcetype != null" >
        #{csourcetype,jdbcType=CHAR},
      </if>
      <if test="detailstatus != null" >
        #{detailstatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.UserInComeDetail" >
    update user_income_detail
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="itype != null" >
        itype = #{itype,jdbcType=CHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="businesstype != null" >
        businesstype = #{businesstype,jdbcType=CHAR},
      </if>
      <if test="businesstid != null" >
        businesstid = #{businesstid,jdbcType=BIGINT},
      </if>
      <if test="btitle != null" >
        btitle = #{btitle,jdbcType=VARCHAR},
      </if>
      <if test="originuserid != null" >
        originuserid = #{originuserid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarker != null" >
        remarker = #{remarker,jdbcType=VARCHAR},
      </if>
      <if test="detailtype != null" >
        detailtype = #{detailtype,jdbcType=CHAR},
      </if>
      <if test="csourcetype != null" >
        csourcetype = #{csourcetype,jdbcType=CHAR},
      </if>
      <if test="detailstatus != null" >
        detailstatus = #{detailstatus,jdbcType=CHAR},
      </if>
    </set>
    where detailid = #{detailid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.UserInComeDetail" >
    update user_income_detail
    set userid = #{userid,jdbcType=BIGINT},
      itype = #{itype,jdbcType=CHAR},
      num = #{num,jdbcType=INTEGER},
      businesstype = #{businesstype,jdbcType=CHAR},
      businesstid = #{businesstid,jdbcType=BIGINT},
      btitle = #{btitle,jdbcType=VARCHAR},
      originuserid = #{originuserid,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      remarker = #{remarker,jdbcType=VARCHAR},
      detailid = #{detailid,jdbcType=BIGINT},
      detailtype = #{detailtype,jdbcType=CHAR},
      csourcetype = #{csourcetype,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>