<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.UserCollectMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.UserCollect" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="cid" property="cid" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="ctype" property="ctype" jdbcType="CHAR" />
    <result column="businessid" property="businessid" jdbcType="BIGINT"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, cid, createtime, updatetime, ctype,businessid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_collect
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectListByUserCollect" parameterType="com.longbei.appservice.entity.UserCollect" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    user_collect
    WHERE
    userid = #{userid}
    <if test="cid != null">
      cid = #{cid}
    </if>
    ORDER BY createtime DESC
    <if test="startno != null">
      limit #{startno},#{pagesize}
    </if>
  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_collect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.UserCollect" >
    insert into user_collect (id, userid, cid, 
      createtime, updatetime, ctype,businessid
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, #{cid,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP},
      #{ctype,jdbcType=CHAR},#{businessid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.UserCollect" >
    insert into user_collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="ctype != null" >
        ctype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.longbei.appservice.entity.UserCollect" >
    update user_collect
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctype != null" >
        ctype = #{ctype,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.UserCollect" >
    update user_collect
    set userid = #{userid,jdbcType=BIGINT},
      cid = #{cid,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      ctype = #{ctype,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="removeCollect">
    DELETE FROM user_collect
    WHERE  userid=#{userid} and cid=#{impid} and ctype=#{ctype}
  </delete>

</mapper>