<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longbei.appservice.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.longbei.appservice.entity.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="totalflower" property="totalflower" jdbcType="INTEGER" />
    <result column="totaldiamond" property="totaldiamond" jdbcType="INTEGER" />
    <result column="totalmoney" property="totalmoney" jdbcType="INTEGER" />
    <result column="totalcoin" property="totalcoin" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="constellation" property="constellation" jdbcType="VARCHAR" />
    <result column="blood" property="blood" jdbcType="VARCHAR" />
    <result column="feeling" property="feeling" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="payword" property="payword" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="rcuserid" property="rcuserid" jdbcType="BIGINT" />
    <result column="invitecode" property="invitecode" jdbcType="VARCHAR" />
    <result column="inviteuserid" property="inviteuserid" jdbcType="BIGINT" />
    <result column="rytoken" property="rytoken" jdbcType="VARCHAR" />
    <result column="hcnickname" property="hcnickname"/>
    <result column="deviceindex" property="deviceindex"/>
    <result column="devicetype" property="devicetype"/>
    <result column="curpoint" property="curpoint"/>
    <result column="point" property="point"/>
    <result column="grade" property="grade"/>
    <result column="settings" property="settings"/>
    <result column="area" property="area"/>
    <result column="schoolcertify" property="schoolcertify"/>
    <result column="jobcertify" property="jobcertify"/>
    <result column="isfashionman" property="isfashionman"/>
    <result column="totalimp" property="totalimp"/>
    <result column="totallikes" property="totallikes"/>
    <result column="totalfans" property="totalfans"/>
    <result column="givedflowers" property="givedflowers"/>
    <result column="upfashionmantime" property="upfashionmantime" jdbcType="TIMESTAMP" />
    <result column="downfashionmantime" property="downfashionmantime" jdbcType="TIMESTAMP" />
    <result column="sortno" property="sortno" jdbcType="INTEGER" />
    <result column="defaultbg" property="defaultbg"/>
    <result column="vcertification" property="vcertification"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, userid, totalflower, totaldiamond, totalmoney, totalcoin, nickname, realname, 
    sex, city, area, brief, birthday, constellation, blood, feeling, updatetime, createtime, 
    avatar, username, rcuserid, invitecode, inviteuserid, rytoken,deviceindex,devicetype,
    hcnickname,curpoint,point,grade,settings,area,schoolcertify,jobcertify,isfashionman,totalimp,
    totallikes,totalfans,givedflowers,upfashionmantime,downfashionmantime,sortno,defaultbg,vcertification
  </sql>
  
  <sql id="InfoMore_List" >
    id, userid, totalflower, totaldiamond, totalmoney, totalcoin, nickname, realname, 
    sex, city, area, brief, birthday, constellation, blood, feeling, totalimp,totallikes,totalfans,givedflowers,
    avatar, username, curpoint, point, grade,defaultbg,vcertification
  </sql>
  
  <select id="selectInfoMore" resultMap="BaseResultMap"  >
    select 
    <include refid="InfoMore_List" />
    from user_info
    where userid = #{userid}
  </select>

  <select id="selectCount" parameterType="com.longbei.appservice.entity.UserInfo" resultType="java.lang.Integer">
    SELECT count(*) FROM user_info
    <where>
      <if test="nickname != null and nickname!=''">
        AND nickname LIKE concat(concat("%",#{nickname}),"%")
      </if>
      <if test="username != null and username!=''">
        AND username LIKE concat(concat("%",#{username}),"%")
      </if>
      <if test="isfashionman != null">
        AND isfashionman = #{isfashionman}
      </if>
      <if test="sex != null and sex != '-1'.toString()">
        AND sex = #{sex}
      </if>
      <if test="sgrade != null and sgrade!=0">
        AND grade &gt;= #{sgrade}
      </if>
      <if test="egrade != null and egrade!=0">
        AND grade &lt; #{egrade}
      </if>
      <if test="screatetime != null">
        AND createtime &gt;= #{screatetime}
      </if>
      <if test="ecreatetime != null">
        AND createtime &lt; #{ecreatetime}
      </if>
      <if test="vcertification != null and vcertification != ''">
        AND vcertification = #{vcertification}
      </if>
    </where>
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM user_info
    <where>
      userid != 10000 
      <if test="user.nickname != null and user.nickname!=''">
        AND nickname LIKE concat(concat("%",#{user.nickname}),"%")
      </if>
      <if test="user.username != null and user.username!=''">
        AND username LIKE concat(concat("%",#{user.username}),"%")
      </if>
      <if test="user.isfashionman != null">
        AND isfashionman = #{user.isfashionman}
      </if>
      <if test="user.vcertification != null and user.vcertification != ''">
        AND vcertification = #{user.vcertification}
      </if>
      <if test="user.sex != null and user.sex != '-1'.toString()">
        AND sex = #{user.sex}
      </if>
      <if test="user.sgrade != null and user.sgrade!=0">
        AND grade &gt;= #{user.sgrade}
      </if>
      <if test="user.egrade != null and user.egrade!=0">
        AND grade &lt; #{user.egrade}
      </if>
      <if test="user.screatetime != null">
        AND createtime &gt;= #{user.screatetime}
      </if>
      <if test="user.ecreatetime != null">
        AND createtime &lt; #{user.ecreatetime}
      </if>
    </where>
    <if test="order=='-1'.toString()">
      ORDER BY sortno DESC ,upfashionmantime DESC
    </if>
    <if test="order=='0'.toString()">
      ORDER BY createtime
      <choose>
        <when test="ordersc == 1">
          DESC
        </when>
        <otherwise>
          ASC
        </otherwise>
      </choose>
    </if>
    <if test="order=='1'.toString()">
      ORDER BY point
      <choose>
        <when test="ordersc == 1">
          DESC
        </when>
        <otherwise>
          ASC
        </otherwise>
      </choose>
    </if>
    <if test="order=='2'.toString()">
      ORDER BY grade
      <choose>
        <when test="ordersc == 1">
          DESC
        </when>
        <otherwise>
          ASC
        </otherwise>
      </choose>
    </if>
    <if test="order=='3'.toString()">
      ORDER BY totalimp
      <choose>
        <when test="ordersc == 1">
          DESC
        </when>
        <otherwise>
          ASC
        </otherwise>
      </choose>
    </if>
    <if test="order=='4'.toString()">
      ORDER BY totallikes
      <choose>
        <when test="ordersc == 1">
          DESC
        </when>
        <otherwise>
          ASC
        </otherwise>
      </choose>
    </if>
    <if test="order=='5'.toString()">
      ORDER BY givedflowers
      <choose>
        <when test="ordersc == 1">
          DESC
        </when>
        <otherwise>
          ASC
        </otherwise>
      </choose>
    </if>
    <if test="order=='6'.toString()">
      ORDER BY totalfans
      <choose>
        <when test="ordersc == 1">
          DESC
        </when>
        <otherwise>
          ASC
        </otherwise>
      </choose>
    </if>
    <if test="startno != null">
      limit #{startno},#{pagesize}
    </if>
  </select>
  
  <sql id="Info_List" >
    id, userid, nickname, realname, sex, city, area, brief, birthday, constellation, 
    blood, feeling, updatetime, createtime, avatar, username,totalimp,totalflower,totalmoney,
    totalcoin,totalimp,totallikes,totalfans,defaultbg,vcertification
  </sql>
  
  <select id="selectByUserid" resultMap="BaseResultMap"  parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where userid = #{userid,jdbcType=BIGINT}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where userid = #{userid}
  </select>
  
  <select id="selectLikeListByUnameAndNname" resultMap="BaseResultMap"  >
    select userid, avatar, username, nickname ,brief
    from user_info
    where
    (nickname LIKE concat(concat('%', #{nickname}),'%') 
       or username = #{nickname})
    <if test="type == 0" >
    	<if test="ids != ''" >
      		and userid in (${ids})
      	</if> 
    </if>
    <if test = "searchFashinMan != null">
      and isfashionman = 1
    </if>
    <!-- <if test="type == 1" >
    	<if test="ids != ''" >
      		and userid not in (${ids})
      	</if> 
    </if> -->
    order by userid
    <if test="endNum != 0" >
      limit #{startNum},#{endNum}
    </if>
  </select>
  
  <select id="getByUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where username = #{username}
  </select>
  <select id="getByNickName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where nickname = #{nickname}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.longbei.appservice.entity.UserInfo" >
    insert into user_info (id, userid, totalflower, 
      totaldiamond, totalmoney, totalcoin, 
      nickname, realname, sex, 
      city, brief, birthday, 
      constellation, blood, feeling, 
      updatetime, createtime, payword, 
      avatar, username, rcuserid, 
      invitecode, inviteuserid, rytoken,deviceindex,devicetype
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, #{totalflower,jdbcType=INTEGER}, 
      #{totaldiamond,jdbcType=INTEGER}, #{totalmoney,jdbcType=INTEGER}, #{totalcoin,jdbcType=INTEGER}, 
      #{nickname,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, 
      #{city,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{constellation,jdbcType=VARCHAR}, #{blood,jdbcType=VARCHAR}, #{feeling,jdbcType=VARCHAR},
      #{updatetime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{payword,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{rcuserid,jdbcType=BIGINT}, 
      #{invitecode,jdbcType=VARCHAR}, #{inviteuserid,jdbcType=BIGINT}, #{rytoken,jdbcType=VARCHAR},#{deviceindex},#{devicetype}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.longbei.appservice.entity.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null and id != ''" >
        id,
      </if>
      <if test="userid != null and userid != ''" >
        userid,
      </if>
      <if test="totalflower != null and totalflower != ''" >
        totalflower,
      </if>
      <if test="totaldiamond != null and totaldiamond != ''" >
        totaldiamond,
      </if>
      <if test="totalmoney != null and totalmoney != ''" >
        totalmoney,
      </if>
      <if test="totalcoin != null and totalcoin != ''" >
        totalcoin,
      </if>
      <if test="nickname != null and nickname != ''" >
        nickname,
      </if>
      <if test="realname != null and realname != ''" >
        realname,
      </if>
      <if test="sex != null and sex != '-1'.toString()" >
        sex,
      </if>
      <if test="city != null and city != ''" >
        city,
      </if>
      <if test="brief != null and brief != ''" >
        brief,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="constellation != null and constellation != ''" >
        constellation,
      </if>
      <if test="blood != null and blood != ''" >
        blood,
      </if>
      <if test="feeling != null and feeling != ''" >
        feeling,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="payword != null and payword != ''" >
        payword,
      </if>
      <if test="avatar != null and avatar != ''" >
        avatar,
      </if>
      <if test="username != null and username != ''" >
        username,
      </if>
      <if test="rcuserid != null and rcuserid != ''" >
        rcuserid,
      </if>
      <if test="invitecode != null and invitecode != ''" >
        invitecode,
      </if>
      <if test="inviteuserid != null and inviteuserid != ''" >
        inviteuserid,
      </if>
      <if test="rytoken != null and rytoken != ''" >
        rytoken,
      </if>
      <if test="deviceindex != null and deviceindex != ''" >
        deviceindex,
      </if>
      <if test="devicetype != null and devicetype != ''" >
        devicetype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null and id != ''" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null and userid != ''" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="totalflower != null and totalflower != ''" >
        #{totalflower,jdbcType=INTEGER},
      </if>
      <if test="totaldiamond != null and totaldiamond != ''" >
        #{totaldiamond,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null and totalmoney != ''" >
        #{totalmoney,jdbcType=INTEGER},
      </if>
      <if test="totalcoin != null and totalcoin != ''" >
        #{totalcoin,jdbcType=INTEGER},
      </if>
      <if test="nickname != null and nickname != ''" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null and realname != ''" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null and sex != '-1'.toString()" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="city != null and city != ''" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="brief != null and brief != ''" >
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="constellation != null and constellation != ''" >
        #{constellation,jdbcType=VARCHAR},
      </if>
      <if test="blood != null and blood != ''" >
        #{blood,jdbcType=VARCHAR},
      </if>
      <if test="feeling != null and feeling != ''" >
        #{feeling,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="payword != null and payword != ''" >
        #{payword,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null and avatar != ''" >
        #{avatar},
      </if>
      <if test="username != null and username != ''" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="rcuserid != null and rcuserid != ''" >
        #{rcuserid,jdbcType=BIGINT},
      </if>
      <if test="invitecode != null and invitecode != ''" >
        #{invitecode,jdbcType=VARCHAR},
      </if>
      <if test="inviteuserid != null and inviteuserid != ''" >
        #{inviteuserid,jdbcType=BIGINT},
      </if>
      <if test="rytoken != null and rytoken != ''" >
        #{rytoken,jdbcType=VARCHAR},
      </if>
      <if test="deviceindex != null and deviceindex != ''" >
        #{deviceindex,jdbcType=VARCHAR},
      </if>      
      <if test="devicetype != null and devicetype != ''" >
        #{devicetype,jdbcType=VARCHAR},
      </if>         
    </trim>
  </insert>
  <update id="updateDeviceIndexByUserName" parameterType="com.longbei.appservice.entity.UserInfo">
    update user_info
    <set>
      deviceindex = #{deviceindex},
      devicetype = #{devicetype},
    </set>
    where username = #{username}
  </update>
  <update id="updateByUseridSelective" parameterType="com.longbei.appservice.entity.UserInfo" >
    update user_info
    <set >
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null and sex != '-1'.toString()" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="brief != null and brief != ''" >
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="constellation != null" >
        constellation = #{constellation,jdbcType=VARCHAR},
      </if>
      <if test="blood != null" >
        blood = #{blood,jdbcType=VARCHAR},
      </if>
      <if test="feeling != null" >
        feeling = #{feeling,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="payword != null" >
        payword = #{payword,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="rcuserid != null" >
        rcuserid = #{rcuserid,jdbcType=BIGINT},
      </if>
      <if test="invitecode != null" >
        invitecode = #{invitecode,jdbcType=VARCHAR},
      </if>
      <if test="inviteuserid != null" >
        inviteuserid = #{inviteuserid,jdbcType=BIGINT},
      </if>
      <if test="rytoken != null" >
        rytoken = #{rytoken,jdbcType=VARCHAR},
      </if>
      <if test="hcnickname != null">
      	hcnickname = #{hcnickname,jdbcType=CHAR},
      </if>
      <if test="deviceindex != null">
      	deviceindex = #{deviceindex,jdbcType=VARCHAR},
      </if>
      <if test="devicetype != null">
      	devicetype = #{devicetype,jdbcType=VARCHAR},
      </if>
      <if test="upfashionmantime != null" >
        upfashionmantime = #{upfashionmantime,jdbcType=TIMESTAMP},
      </if>
      <if test="downfashionmantime != null" >
        downfashionmantime = #{downfashionmantime,jdbcType=TIMESTAMP},
      </if>
      <if test="isfashionman != null">
        isfashionman = #{isfashionman,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null" >
        sortno = #{sortno,jdbcType=INTEGER},
      </if>
      <if test="vcertification != null and vcertification != ''">
        vcertification = #{vcertification,jdbcType=CHAR}
      </if>
    </set>
    where userid = #{userid,jdbcType=BIGINT}
  </update>

  <update id="updatePointByUserid" parameterType="com.longbei.appservice.entity.UserInfo">
    update user_info
    set point = #{point,jdbcType=INTEGER},
        curpoint = #{curpoint,jdbcType=INTEGER},
        grade = #{grade,jdbcType=INTEGER}
    WHERE userid = #{userid,jdbcType=BIGINT}
  </update>
  
  <update id="updateTotalcoinByUserid">
    update user_info
    set totalcoin = #{totalcoin} 
    WHERE userid = #{userid}
  </update>
  
  <update id="updateTotalmoneyByUserid">
    update user_info
    set totalmoney = #{totalmoney} 
    WHERE userid = #{userid}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.longbei.appservice.entity.UserInfo" >
    update user_info
    set userid = #{userid,jdbcType=BIGINT},
      totalflower = #{totalflower,jdbcType=INTEGER},
      totaldiamond = #{totaldiamond,jdbcType=INTEGER},
      totalmoney = #{totalmoney,jdbcType=INTEGER},
      totalcoin = #{totalcoin,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      city = #{city,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      constellation = #{constellation,jdbcType=VARCHAR},
      blood = #{blood,jdbcType=VARCHAR},
      feeling = #{feeling,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      payword = #{payword,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      rcuserid = #{rcuserid,jdbcType=BIGINT},
      invitecode = #{invitecode,jdbcType=VARCHAR},
      deviceindex = #{deviceindex,jdbcType=VARCHAR},
      devicetype = #{devicetype,jdbcType=VARCHAR},
      inviteuserid = #{inviteuserid,jdbcType=BIGINT},
      rytoken = #{rytoken,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 查询系统推荐的达人 -->
  <select id="selectFashionManUser" resultType="com.longbei.appservice.entity.UserInfo">
      select
          userid,
          avatar,
          username,
          upfashionmantime,
          sortno,
          brief,
          nickname
      from user_info
      where 
          isfashionman = 1 
          order by sortno desc,upfashionmantime desc 
	    <if test="pageSize != 0" >
	      limit #{startNum},#{pageSize}
	    </if>
  </select>

  <!-- 修改用户进步币 -->
  <update id="updateUserCoin">
      update
          user_info
      set totalcoin = totalcoin + #{coin}
      where
        <if test="coin &lt; 0">
          totalcoin > ROUND(#{coin}) and
        </if>
        userid = #{userid}
  </update>

  <update id="updateUserSumInfo">
      UPDATE
        user_info
      <set>
        <if test="totalimp != 0">
          totalimp = totalimp + #{totalimp},
        </if>
        <if test="totallikes != 0">
          totallikes = totallikes + #{totallikes},
        </if>
        <if test="totalfans != 0">
          totalfans = totalfans + #{totalfans},
        </if>
        <if test="totalflower != 0">
          totalflower = totalflower + #{totalflower},
        </if>
      </set>
      where 
        userid=#{userid}
  </update>
  
  <update id="updateMoneyAndFlowerByUserid">
    update user_info 
    set 
    <if test="givedflowers != 0">
      givedflowers = givedflowers + #{givedflowers},
    </if>
    <if test="totalmoney != 0">
      totalmoney = totalmoney + #{totalmoney},
    </if>
    userid = #{userid}
    WHERE 
    <if test="givedflowers &lt; 0">
      givedflowers > ROUND(#{givedflowers}) and
    </if>
    <if test="totalmoney &lt; 0">
      totalmoney > ROUND(#{totalmoney}) and
    </if>
    userid = #{userid}
  </update>
  
  <update id="updateCoinAndFlowerByUserid">
    update user_info 
    set 
    <if test="givedflowers != 0">
      givedflowers = givedflowers + #{givedflowers},
    </if>
    <if test="totalcoin != 0">
      totalcoin = totalcoin + #{totalcoin},
    </if>
    userid = #{userid}
    WHERE 
    <if test="givedflowers &lt; 0">
      givedflowers > ROUND(#{givedflowers}) and
    </if>
    <if test="totalcoin &lt; 0">
      totalcoin > ROUND(#{totalcoin}) and
    </if>
    userid = #{userid}
  </update>

  <update id="updateBg">
    update user_info
    set
      defaultbg=#{bg}
    WHERE
      userid = #{userid}
  </update>

  <select id="getOtherDevice" resultMap="BaseResultMap">
  SELECT
  <include refid="Base_Column_List" />
  FROM user_info
  WHERE deviceindex = #{deviceindex}
  </select>

  <update id="updateIndexDevice">
    update user_info
    set
    deviceindex=#{deviceindex}
    WHERE
    userid = #{userid}
  </update>

  <update id="clearOtherDevice">
    update user_info
    set
    deviceindex= NULL
    WHERE
    userid != #{userid} and deviceindex=#{deviceindex}
  </update>

</mapper>